<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 4</title>
    <link rel="stylesheet" href="./template4.css">
</head>
<body>
    <div class="wrapper row1">
      <header id="header" class="clear">
        <div id="hgroup">
          <h1><a href="#">Basic 85</a></h1>
          <h2>Free HTML5 Website Template</h2>
        </div>
        <nav>
          <ul>
            <li><a href="#">Text Link</a></li>
            <li><a href="#">Text Link</a></li>
            <li><a href="#">Text Link</a></li>
            <li><a href="#">Text Link</a></li>
            <li class="last" style="margin-right: 0px;"><a href="#">Text Link</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div class="wrapper row2">
    <div id="container" class="clear"> <section id="shout">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
         when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </section>
    <div id="homepage">
      <section id="latest">
        <article>
          <figure>
            <ul type="none">
              <li class="one_quarter"><img src="./215x150.gif" width="215" height="150"> </li>
              <li class="one_quarter"><img src="./215x150.gif" width="215" height="150"></li>
              <li class="one_quarter"><img src="./215x150.gif" width="215" height="150"></li>
              <li class="one_quarter last"><img src="./215x150.gif" width="215" height="150"></li>
            </ul>
            <figcaption>
              <a href="#">VIEW ALL OUR RECENT WORK HERE »</a>
            </figcaption>
          </figure>
        </article>
      </section>
      <section id="services" class="last clear">
        <article class="one_quarter">
          <figure><img src="./32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More »</a></p>
        </article>
        <article class="one_quarter">
          <figure><img src="./32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More »</a></p>
        </article>
        <article class="one_quarter">
          <figure><img src="./32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More »</a></p>
        </article>
        <article class="one_quarter lastbox">
          <figure><img src="./32x32.gif" width="32" height="32"></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More »</a></p>
        </article>
        <div class="spacer"></div>
        <article class="one_quarter">
          <figure><img src="./32x32.gif" width="32" height="32"></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More »</a></p>
        </article>
        <article class="one_quarter">
          <figure><img src="./32x32.gif" width="32" height="32"></figure>
           <strong>Lorum ipsum dolor</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
            <p class="more"><a href="#">Read More »</a></p>
        </article>
        <article class="one_quarter">
          <figure><img src="./32x32.gif" width="32" height="32"></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More »</a></p>
        </article>
        <article class="one_quarter lastbox">
          <figure><img src="./32x32.gif" width="32" height="32"></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More »</a></p>
        </article>
      </section>
    </div>
    </div>  
    </div>
    <div class="wrapper row3">
      <footer id="footer" class="clear">
        <p class="f1_left">Copyright © 2022 - All Rights Reserved - 
          <a href="#">Basic85.com</a>
        </p>
        <p class="f1_right">
          Template by
          <a href="#">Srikanth Chokkalla</a>
        </p>
      </footer>
    </div>
    <div></div>
    
    
    </body>
</html>