<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template 2</title>
</head>
<body>
    <body id="top"><div id="GB_overlay" style="opacity: 0.7; width: 1707px; height: 166px;">&nbsp;</div><div id="GB_window" class="GB_Window" style="left: 72.5px; top: 0px;"><div><table class="header" style="background-image: url(&quot;https://www.os-templates.com/layout-min/scripts/greybox/header_bg.gif&quot;); width: 1542px;"><tbody><tr><td class="caption">Basic 83 Website Template Demo</td><td class="close"><div><img src="https://www.os-templates.com/layout-min/scripts/greybox/w_close.gif"><span>Close</span></div></td></tr></tbody></table></div><div class="content"><iframe name="GB_frame" class="GB_frame" frameborder="0" src="https://www.os-templates.com/layout-min/scripts/greybox/loader_frame.html?s=0" style="width: 1536px; height: 149px;"></iframe></div><div></div></div>
        <div class="wrapper row0">
          <div id="topbar" class="clear">
            <div class="fl_left"><a target="_blank" rel="nofollow noopener" class="top-twitter" href="//twitter.com/ostemplates"><span class="icon-twitter"></span> Follow OS Templates</a></div>
            <div class="fl_right">
              <nav>
                <ul><li><a href="/template-terms" title="Terms of Use">Template Licence</a></li>
        <li><a href="/documentation" title="Support">Template Support</a></li>
        <li><a href="/news" title="News">Latest News</a></li>
        <li><a href="/journal" title="Journal">Journal</a></li>
        <li class="last"><a href="/advertise" title="Advertise">Advertise</a></li>
        </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="wrapper row1">
          <header role="banner" id="header" class="clear">
            <h1><a href="https://www.os-templates.com/" title="OS Templates">OS Templates</a></h1>
            <p>Premium &amp; Free Website Templates - CSS / (X)HTML + PSD</p>
          </header>
        </div>
        <div class="wrapper row2">
          <nav role="navigation" id="topnav" class="clear">
            <ul><li><a href="/premium-website-templates" title="Premium Website Templates">Premium Website Templates</a></li>
        <li><a href="/free-website-templates" title="Free Website Templates">Free Website Templates</a></li>
        <li class="active"><a href="/free-basic-html5-templates" title="Basic Free HTML5 Templates">Free Basic Templates</a></li>
        <li><a href="/free-psd-templates" title="Free PSD Website Templates">Free PSD Templates</a></li>
        <li class="last"><a href="/page-templates" title="Custom Page Templates">Page Templates</a></li>
        </ul>
          <form id="mobilemenu"><select style="visibility: hidden;"><option selected="selected" value="">MENU</option><option value="/premium-website-templates">Premium Website Templates</option><option value="/free-website-templates">Free Website Templates</option><option value="/free-basic-html5-templates">Free Basic Templates</option><option value="/free-psd-templates">Free PSD Templates</option><option value="/page-templates">Page Templates</option></select></form></nav>
        </div>
        <div class="wrapper row3">
          <div id="pageintro" class="breadcrumb clear center">
            <ul>
        <li class="first">You Are Here</li><li><a href="/" title="Home">Home</a></li><li><a href="/free-basic-html5-templates" title="Basic Free HTML5 Templates">Free Basic Templates</a></li><li class="current"><a href="/free-basic-html5-templates/basic-83" title="Basic 83">Basic 83</a></li>
        </ul>
          </div>
        </div>
        <div class="wrapper row4">
          <main role="main" class="container clear">
        <div class="col-2-3 first">
          <section class="previnfo clear push30">
            <h1>Basic 83 Free HTML5 Template</h1>
            <div class="col-1-2 first"><img class="shadow" src="/website-templates/template-demos/free-basic-html5-templates/basic-83/thumb.jpg" alt="Free HTML5 Template Basic 83" title="Basic 83 Screenshot"></div>
            <div class="col-1-2">
              <ul class="nospace spacing">
                <li><a class="button medium red" href="/template-terms">View The Templates Licence</a></li>
                <li><a class="button medium orange" onclick="return GB_showFullScreen('Basic 83 Website Template Demo', this.href)" href="/website-templates/template-demos/free-basic-html5-templates/basic-83/" title="Demo the Basic 83 Website Template">Website Template Demo</a></li>
                <li><a class="button medium green" href="/website-templates/template-downloads/free-basic-html5-templates/basic-83.7z" download="Basic 83 Free HTML5 Template from OS Templates.7z" title="Download the Free HTML5 Template">Download This Template</a></li>
              </ul>
              <ul class="social">
                <li><a rel="nofollow noopener" target="_blank" class="socico-facebook" title="facebook" href="http://www.facebook.com/share.php?u=https%3A%2F%2Fwww.os-templates.com%2Ffree-basic-html5-templates%2Fbasic-83&amp;t=Basic%2083"><span class="socicon-facebook"><em>facebook</em></span></a></li>
        <li><a rel="nofollow noopener" target="_blank" class="socico-twitter" title="twitter" href="http://twitter.com/home?status=Basic%2083%20-%20https%3A%2F%2Fwww.os-templates.com%2Ffree-basic-html5-templates%2Fbasic-83"><span class="socicon-twitter"><em>twitter</em></span></a></li>
        <li><a rel="nofollow noopener" target="_blank" class="socico-google" title="google" href="http://www.google.com/bookmarks/mark?op=edit&amp;bkmk=https%3A%2F%2Fwww.os-templates.com%2Ffree-basic-html5-templates%2Fbasic-83&amp;title=Basic%2083&amp;annotation=Basic%2083"><span class="socicon-google"><em>google</em></span></a></li>
        <li><a rel="nofollow noopener" target="_blank" class="socico-tumblr" title="tumblr" href="http://www.tumblr.com/share?v=3&amp;u=https%3A%2F%2Fwww.os-templates.com%2Ffree-basic-html5-templates%2Fbasic-83&amp;t=Basic%2083&amp;s=Basic%2083"><span class="socicon-tumblr"><em>tumblr</em></span></a></li>
        <li><a rel="nofollow noopener" target="_blank" class="socico-reddit" title="reddit" href="http://reddit.com/submit?url=https%3A%2F%2Fwww.os-templates.com%2Ffree-basic-html5-templates%2Fbasic-83&amp;title=Basic%2083"><span class="socicon-reddit"><em>reddit</em></span></a></li>
        <li><a rel="nofollow noopener" target="_blank" class="socico-stumbleupon" title="stumbleupon" href="http://www.stumbleupon.com/submit?url=https%3A%2F%2Fwww.os-templates.com%2Ffree-basic-html5-templates%2Fbasic-83&amp;title=Basic%2083"><span class="socicon-stumbleupon"><em>stumbleupon</em></span></a></li>
        
              </ul>
            </div>
          </section>
          <ul class="list posttags">
            <li><a href="/template-categories?category=Basic%20Layout%20Skin" rel="tag">Basic Layout Skin</a></li> <li><a href="/template-categories?category=Wireframe" rel="tag">Wireframe</a></li>
          </ul>
          <div class="clear push30"></div>
          <p class="nospace">The Basic 83 Free HTML5 Template is based on a Fixed Width layout with Mixed Columns and uses an HTML5 doctype. It is a Dark on Light design developed by "<a href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a>".</p>
          <hr>
          <div class="pagination2">
            <ul class="nospace inline center">
        <li><a href="/free-basic-html5-templates/basic-84" title="Basic 84">« Basic 84 Template</a></li>
        <li>|</li>
        <li><a href="/free-basic-html5-templates">Templates</a></li>
        <li>|</li>
        <li><a href="/free-basic-html5-templates/basic-82" title="Basic 82">Basic 82 Template »</a></li>
        </ul>
          </div>
          <hr class="push50">
          <section class="relatedtpl clear">
            <h6 class="bold nospace push15">Check Out These Related Website Templates:</h6>
            <ul class="nospace clear">
              <li class="col-1-3 first"><a href="/free-basic-html5-templates/basic-80"><img class="boxholder pad10" src="/website-templates/template-demos/free-basic-html5-templates/basic-80/thumb.jpg" alt="Basic 80 Template" title="Basic 80 Website Template"></a><div class="tpltype free">free</div></li>
        <li class="col-1-3"><a href="/free-basic-html5-templates/basic-62"><img class="boxholder pad10" src="/website-templates/template-demos/free-basic-html5-templates/basic-62/thumb.jpg" alt="Basic 62 Template" title="Basic 62 Website Template"></a><div class="tpltype free">free</div></li>
        <li class="col-1-3"><a href="/free-basic-html5-templates/basic-27"><img class="boxholder pad10" src="/website-templates/template-demos/free-basic-html5-templates/basic-27/thumb.jpg" alt="Basic 27 Template" title="Basic 27 Website Template"></a><div class="tpltype free">free</div></li>
        
            </ul>
          </section>
          <div class="clear"></div>
        </div>
        <div class="sidebar col-1-3">
          <aside><div id="bsap_1244497" class="bsap bsap_1244497" data-serve="CESI62V"><div><a target="_blank" rel="nofollow noopener" href="https://www.templatemonster.com/website-templates.php?aff=tmaff"><img src="/images/sponsors/tplmonsteraff.jpg" alt=""></a></div>
              <style type="text/css">
                
                .bsap_1244497 .ads-via { display: block; }
                .bsap_1244497 .adhere:nth-of-type(3n+1) { display: none; }
                .bsap_1244497 .adhere:nth-of-type(1) { display: block; }
              </style>
            <!-- no ad --><!-- no ad --><!--INLINE--><a target="_blank" rel="nofollow noopener" href="https://www.elegantthemes.com/affiliates/idevaffiliate.php?id=1687" title="Elegant Themes"><img src="https://www.os-templates.com/images/sponsors/336x280/elegantthemes.jpg"></a>
        <script type="text/javascript" id="auto_1" class="ignoreme">if (typeof(_bsap_serving_callback) !== 'undefined') _bsap_serving_callback(437565, 'CESI62V', '');</script>
              
                <a href="http://os-templates.bsa-whitelabel.com/checkout/new/?utm_source=premium-sidebar&amp;utm_medium=ad_via_link&amp;utm_campaign=in_unit&amp;utm_term=" class="ads-via adhere">Advertise Here</a>
              
              <script type="text/javascript" id="auto_2" class="ignoreme"> if (typeof(BSACallback) !== 'undefined') BSACallback(1244497); </script>
            </div></aside>
          <div class="clear"></div>
        </div>
          </main>
        </div>
        <div class="wrapper row5">
          <footer role="contentinfo" id="p-footer" class="clear">
            <p class="fl_left">Copyright © 2009 - 2022 - <a href="https://www.os-templates.com/" title="Premium &amp; Free Website Templates">OS Templates</a>. All Rights Reserved</p>
            <p class="fl_right"><a href="/contact-us" title="Contact Us"><span class="icon-envelope-alt"></span></a> | <a href="/policies">Privacy</a> | <a href="/sitemap.xml" title="XML Sitemap"><span class="icon-sitemap"></span></a></p>
          </footer>
        </div>
        <a href="#top" id="scrolltotop" title="Back to Top" class=""><span class="icon-arrow-up icon-2x"></span></a>
        <div class="fit-vids-style" id="fit-vids-style" style="display: none;">&shy;<style>.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style></div><script async="" src="//www.google-analytics.com/analytics.js"></script><script src="/layout-min/scripts/jquery-latest.min.js"></script>
        <script src="/layout-min/scripts/jquery-ui.min.js"></script>
        <script src="/layout-min/scripts/jquery.divascookies-0.6.min.js"></script>
        <script src="/layout-min/scripts/custom.js"></script>
        <script>var GB_ROOT_DIR = "https://www.os-templates.com/layout-min/scripts/greybox/";</script>
        <script src="/layout-min/scripts/greybox/AJS.js"></script>
        <script src="/layout-min/scripts/greybox/gb_scripts.js"></script>
        
        <script>
        $(window).on('load', function () {
            var bsa = document.createElement('script');
            bsa.type = 'text/javascript';
            bsa.async = true;
            bsa.src = '//s3.buysellads.com/ac/bsa.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(bsa);
        })
        
        // Google Analytics + Opt-out
        var gaProperty = 'UA-120233638-1';
        var disableStr = 'ga-disable-' + gaProperty;if (document.cookie.indexOf(disableStr + '=true') > -1) {window[disableStr] = true;}
        function gaOptout() {document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2045 23:59:59 UTC; path=/';window[disableStr] = true;alert('Google Tracking has been deactivated');}
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-120233638-1', 'auto');ga('set', 'anonymizeIp', true);ga('send', 'pageview');
        
        if (window != top) top.location.href = location.href;
        </script>
        
        </body>
</body>
</html>