body {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    color: #979797;
    font-size: 13px;
    ;
}

div .wrapper {
    width: 100%;
}

header {
    margin: 0 auto;
    width: 960px;
    color: #979797;
    overflow: auto;
}

header nav ul {
    list-style: none;
}

#hgroup h1 a,
nav ul li a {
    text-decoration: none;
    color: #979797
}

#hgroup h1,
h2 {
    margin: 0;
}

#hgroup h1 {
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
}

#hgroup h2 {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;

}

#hgroup {
    padding: 20px 0 0 0;
    float: left;
}

header nav {
    float: right;
    margin: 20px 0 0 0;
    padding: 20px 0;
}

header nav li {
    display: inline;
    text-transform: uppercase;
    margin: 0 15px 0 0;
}

header nav ul {
    padding: 0;
    margin: 0;
}

#container {
    width: 960px;
    padding: 30px 0;
    margin: 0 auto;
}

#slider {
    margin: 0 0 50px 0;
}

.one_third {
    margin: 0 30px 0 0;
    width: 300px;
    float: left;
}

.lastbox {
    margin: 0 !important;
}

#container article h2 {
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    margin: 0 0 15px 0;
}

#container article img {
    float: left;
    margin: 0 10px 10px 0;
    padding: 4px;
    border: 1px solid #DEDEDE;

}

#container article p {
    line-height: 1.6em;
}

.one_third footer {
    text-align: right;
    ;
}

.one_third footer .more {
    color: orange;
    text-decoration: none;
}

.one_third footer {
    margin: 10px 0 0 0;
}

section #services {
    margin: 0 0 30px 0;
}

#container section #last h2 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;

}

#last article a {
    text-decoration: none;
    color: orange;
}

#last article p {
    margin: 13px 0;
}

#last {
    clear: left;
    padding-top: 15px;
}

#last .more {
    text-align: right;
    color: orange;
}

#content {
    width: 630px;
    float: left;

}

#container {
    overflow: auto;
}
aside {
    float : right;
    width : 280px;
}
#container #column nav {
    margin-bottom : 30px;
    width : 100%;
}
aside ul {
    list-style : none;
    margin:0;
    padding :0;
}
#container aside h2 {
    padding : 0 0 15px 0;
    margin : 0 0 15px 0;
    border-bottom : 1px solid #DEDEDE;
    font-size: 16px;
}
#container #column li {
    margin : 0 0 3px 0;
    
    
    
}
#container #column nav a {
    display: block;
    margin: 0;
    padding: 5px 10px 5px 20px;
    color: #666666;
    background: url("./orange_file.gif") no-repeat 10px center #FFFFFF;
    text-decoration: none;
    border-bottom: 1px dotted #666666;
}
address {
    font-style: normal;
}
address a {
    text-decoration: none;
    color : orange;
}
.row3 footer {
    width : 960px;
    margin : 0 auto;
    padding : 20px 0;
    overflow: auto;;
}
.left_float {
    float : left;
}
.right_float {
    float : right;
}
.row3 footer a {
    text-decoration: none;
    color : orange;
}