<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 3</title>
    <link rel="stylesheet" href="./template3.css">
</head>

<body>
    <div class="wrapper row1">
        <header>
            <div id="hgroup">
                <h1><a href="#">VIRAT KOHLI</a></h1>
                <h2>INDIAN CRICETER</h2>
            </div>
            <form action="#" method="post">
                <fieldset>
                    <legend>Search:</legend>
                    <input type="text" value="Search Our Website…"
                        onfocus="this.value=(this.value=='Search Our Website…')? '' : this.value ;">
                    <input type="submit" id="sf_submit" value="submit">
                </fieldset>
            </form>
            <nav>
                <ul style="list-style:none;">
                    <li><a href="#">Youth and domestic career</a></li>
                    <li><a href="#">Early Life</a></li>
                    <li><a href="#">International career</a></li>
                    <li><a href="#">Indian Premier League</a></li>
                    <li><a href="#">Awards</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper row2">
        <div id="container">
            <section id="one" style="text-align: center;">
                <a href="#"><img src="./Virat_Kohli.jpg"></a>
            </section>
            <div id="homepage" style="overflow:auto;">
                <section id="two" style="overflow:auto;">
                    <article class="one_fourth">
                        <figure>
                            <img src="./32x32.gif">
                        </figure>
                        <h2>Early Life</h2>
                        <p>Virat Kohli was born on 5 November 1988 in New Delhi into a Punjabi Hindu family.His father, Prem Kohli, worked as a criminal lawyer and his mother, Saroj Kohli, is a homemaker.He has an older brother, Vikash, and an older sister, Bhavna.Kohli was raised in Uttam Nagarand started his schooling at Vishal Bharti Public School.</p>
                        <p class="more">
                            <a href="https://en.wikipedia.org/wiki/Virat_Kohli#Early_life">Read More</a>
                        </p>
                    </article>
                    <article class="one_fourth">
                        <figure>
                            <img src="./32x32.gif">
                        </figure>
                        <h2>International career</h2>
                        <p>Kohli first played for Delhi Under-15 team in October 2002 in the 2002–03 Polly Umrigar Trophy. He became the captain of the team for the 2003–04 Polly Umrigar Trophy. In late 2004, he was selected in the Delhi Under-17 team for the 2003–04 Vijay Merchant Trophy. Delhi Under-17s won the 2004–05 Vijay Merchant Trophy in which Kohli finished as the highest run-scorer with 757 runs from 7 matches with two centuries.[24] In February 2006, he made his List A debut for Delhi against Services but did not get to bat.</p>
                        <p class="more"><a href="https://en.wikipedia.org/wiki/Virat_Kohli#International_career">
                                Read More</a>
                        </p>
                    </article>
                    <article class="one_fourth">
                        <figure>
                            <img src="./32x32.gif">
                        </figure>
                        <h2> Indian Premier League</h2>
                        <p>Following the Under-19 World Cup, Kohli was bought by the franchise Royal Challengers Bangalore for $30,000 on a youth contract.He was the captain of Royal challengers Bangalore for 8 seasons but could not win a trophy Kohli had an poor 2008 season, with a total of 165 runs in 12 innings at an average of 15.00 and a strike rate of 105.09 He did slightly better in the second season in which he made a total of 246 runs at 22.36, striking at over 112, while his team made it as far as the final.</p>
                        <p class="more"><a href="https://en.wikipedia.org/wiki/Virat_Kohli#Indian_Premier_League">Read More</a></p>
                    </article>
                    <article class="one_fourth lastone">
                        <figure>
                            <img src="./32x32.gif">
                        </figure>
                        <h2>Awards</h2>
                        <p>2013 – Arjuna Award.
                            2017 – Padma Shri, India's fourth highest civilian award.
                            2018 – Rajiv Gandhi Khel Ratna award, India's highest sporting honour.</p>
                        <p class="more"><a href="https://en.wikipedia.org/wiki/Virat_Kohli#Awards">
                                Read More</a>
                        </p>
                    </article>
                </section>
                <section id="three" style="overflow:auto;">
                    <article class="two_thirds">
                        <h2>Playing style</h2>
                        <p>Kohli is a naturally <a href="https://en.wikipedia.org/wiki/Virat_Kohli#Playing_style">aggressive batsman</a> with strong technical skills.He usually bats at the <a href="https://www.os-templates.com/template-terms"> 3rd position in ODI cricket</a>.</p>
                        <p>He bats with a slightly open-chested stance and a strong bottom-hand grip. He is not a big hitter and plays more grounded shots. He is known for his wide range of shots, ability to pace an innings and batting under pressure. He is strong through the mid-wicket and cover region. He has said that the cover drive is his favourite shot, while also saying that the flick shot comes naturally to him. He does not play the sweep shot often, being called "not a natural sweeper of the cricket ball". Kohli is strong on leg stump line bowling. If bowled at leg stump he plays flick shots <a href="https://www.os-templates.com/">plays flick shots</a>.</p>
                        <footer class="more">
                            <a href="https://en.wikipedia.org/wiki/Virat_Kohli#Playing_style">
                                Read More
                            </a>
                        </footer>
                    </article>
                    <article class="two_thirds lastone">
                        <h2>Aggression</h2>
                        <p>Kohli is noted for his on-field aggression and was described in the media as "brash" and "arrogant" during his early career. He has got into confrontations with players and umpires on several occasions. While many former cricketers have backed his aggressive attitude, some have criticised it. In 2012, Kohli had stated that he tries to limit his aggressive behaviour but "the build-up and the pressure or the special occasions make it tough to control the aggression."</p>
                        <footer class="more">
                            <a href="https://en.wikipedia.org/wiki/Virat_Kohli#Aggression">Read More »</a>
                        </footer>
                    </article>
                </section>
            </div>
        </div>
        <div class="wrapper row3">
            <footer id="lastrow">
                <p class="leftfloat">Copyrigh. All Rights Reserved - <a href="https://en.wikipedia.org/wiki/Virat_Kohli">wikipedia</a>.</p>
                <p class="rightfloat">Template by <a href="#" target="_blnak">King Kohli Fan</a></p>
            </footer>
        </div>
    </div>
</body>

</html>