body, .row5, .row5 a {
    color: #999;
    background-color: #232323;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: left;
    font-family: "opensansregular",Arial,Helvetica,sans-serif;
}
body {
    display: block;
    margin: 8px;
}
#GB_overlay {
    background-color: #3C3C3C;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 99999999999999999;
}
div {
    display: block;
}
#GB_window {
    left: 0;
    top: 0;
    font-size: 1px;
    position: absolute;
    overflow: visible;
    z-index: 999999999999999999;
}
.GB_Window .header {
    height: 22px;
    margin: 0;
    padding: 3px 0;
    color: #FFF;
    background-color: #3C3C3C;
    border: solid #3C3C3C;
    border-width: 1px 3px;
    font-size: 12px;
    font-family: Verdana,Geneva,sans-serif;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
#GB_window .content {
    width: auto;
    margin: 0;
    padding: 0;
    color: #FFF;
    background-color: #3C3C3C;
}
.GB_Window .content {
    background-color: #333;
    border: 3px solid #3C3C3C;
    border-top: none;
}
iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
body {
    padding: 143px 0 0 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #3C3C3C;
}
#holder {
    /* display: block; */
    display: none;
    width: 100%;
    height: 130px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 8px 0 5px 0;
    text-align: center;
    border-bottom: 1px solid #333;
    background-color: #3C3C3C;
}
#GB_frame {
    visibility: hidden;
    width: 100%;
    height: 100%;
}
body .wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
.row0, .row0 a {
    color: #FFF;
    background-color: #3C3C3C;
}
#topbar, #header, #topnav, #pageintro, .container, #p-footer, #copyright {
    max-width: 1140px;
    margin: 0 auto;
}
#topbar, #header, #topnav, #pageintro, .container, #p-footer, #copyright {
    max-width: 95%;
    margin: 0 auto;
}
#topbar {
    padding: 10px 0;
    font-size: .8em;
    text-transform: uppercase;
    text-align: right;
}
#topbar, #header, #topnav, .container, #p-footer, #copyright {
    margin: 0 auto;
}
.clear {
    display: block;
    clear: both;
}
.fl_left {
    float: left;
}
.row0, .row0 a {
    color: #FFF;
    background-color: #3C3C3C;
}
a {
    color: #DF7879;
}
a, :focus, :active {
    text-decoration: none;
    outline: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
a [class^="icon-"], a [class*="icon-"] {
    display: inline;
}
[class^="icon-"], [class*="icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}
[class^="icon-"], [class*="icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
}
.icon-twitter::before {
    content: "\f099";
}
[class^="icon-"]::before, [class*="icon-"]::before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
.fl_right {
    float: right;
}
address, article, aside, figcaption, figure, footer, header, main, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}
#topbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul, nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#topbar li:first-child {
    margin-left: 0;
}
#topbar li {
    display: inline-block;
    margin-left: 15px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.clear::after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    font-size: 0;
    content: "";
}
.row1 {
    color: #999;
    background-color: #292929;
    border-top: 1px solid #000;
}
#header {
    padding: 30px 0 50px;
    text-align: center;
}
.clear {
    display: block;
    clear: both;
}
#header h1 {
    margin: 0;
    font-size: 52px;
    font-weight: normal;
    font-variant: small-caps;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #E3CE90;
}
h1, h2 {
    font-size: 2.2em;
    text-transform: capitalize;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "opensanslight",Arial,Helvetica,sans-serif;
    margin: 40px 0;
    font-weight: normal;
    line-height: normal;
    text-transform: capitalize;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#header a {
    color: #FFF;
    background: inherit;
}
a {
    color: #DF7879;
}
a, :focus, :active {
    text-decoration: none;
    outline: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
#header p {
    margin: 0;
    padding: 0;
    font-size: .8em;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.clear::after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    font-size: 0;
    content: "";
}
.row2 {
    border: solid #222;
    border-width: 1px 0;
    background: #292929;
    background-image: linear-gradient(to bottom,#313131 0%,#292929 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
#topnav {
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
}
#topnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
}
nav ul, nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#topnav ul li:first-child {
    margin-left: 0;
}
#topnav ul li {
    display: inline-block;
    margin: 0 0 0 25px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#topnav a {
    color: #999;
    background: inherit;
}
a {
    color: #DF7879;
}
a, :focus, :active {
    text-decoration: none;
    outline: none;
}
#topnav li.active a, #topnav a:hover {
    color: #DF7879;
    background: inherit;
}
#topnav form {
    display: none;
}
#topnav form {
    display: block;
    margin: 0 auto;
    padding: 0;
}
form, label, form div, form p {
    margin: 0;
    padding: 0;
}
form {
    width: 100%;
}
form, label {
    display: block;
    border: none;
}
form {
    display: block;
    margin-top: 0em;
}
.row3, .row3 a {
    color: #FFF;
    background-color: #DF7879;
}
#pageintro {
    padding: 8px 0;
}
.center {
    text-align: center;
}
.breadcrumb {
    font-size: 12px;
}
.breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumb li {
    display: inline;
    margin-right: 10px;
}
.first {
    margin-left: 0;
    clear: left;
}
.breadcrumb a {
    display: inline-block;
    position: relative;
    padding: 0 0 0 15px;
}
.breadcrumb li:last-child {
    margin-right: 0;
}
.row4 {
    color: #999;
    background-color: #323232;
}
.container {
    padding: 80px 0;
    clear: both;
    font-size: 1em;
    line-height: 1.6em;
}
[class^="col-"]:first-child, [class*="col-"]:first-child {
    margin-left: 0;
}
.col-2-3 {
    width: 65.26315789473685%;
}
.first {
    margin-left: 0;
    clear: left;
}
[class^="col-"], [class*="col-"] {
    position: relative;
    display: inline;
    float: left;
    margin: 0 0 0 4.21052631578947%;
    list-style: none;
}
.push30 {
    margin-bottom: 30px;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #E3CE90;
}
h1, h2 {
    font-size: 2.2em;
    text-transform: capitalize;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "opensanslight",Arial,Helvetica,sans-serif;
    margin: 40px 0;
    font-weight: normal;
    line-height: normal;
    text-transform: capitalize;
}
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.col-1-2 {
    width: 47.89473684210526%;
}
shadow {
    box-shadow: 6px 6px 0 rgb(0 0 0 / 60%);
}
img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}
ul.nospace, ol.nospace {
    list-style: none;
}
.nospace {
    margin: 0;
    padding: 0;
}
.social {
    text-align: center;
}
.social {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nospace.spacing li {
    margin-bottom: 25px;
}
.social li {
    margin: 5px 8px -3px 0;
    line-height: normal;
}
.list.posttags {
    margin: 0;
    padding: 0 0 0 12px;
    list-style: none;
}
.list.posttags li {
    display: inline-block;
    position: relative;
    margin: 0 15px 5px 0;
    text-transform: capitalize;
}
.list li:first-child {
    margin-top: 0;
}
.list li {
    margin: 6px 0 0 0;
    padding: 0;
}
.list.posttags li a {
    display: block;
    position: relative;
    padding: 5px 12px;
    font-size: 11px;
    line-height: normal;
}
.push30 {
    margin-bottom: 30px;
}
.nospace {
    margin: 0;
    padding: 0;
}
hr {
    background-color: #232323;
}
hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 25px 0;
    padding: 0;
    border: none;
    clear: both;
}
[class^="col-"], [class*="col-"] {
    position: relative;
    display: inline;
    float: left;
    margin: 0 0 0 4.21052631578947%;
    list-style: none;
}
.nospace.inline li {
    display: inline-block;
}
.push50 {
    margin-bottom: 50px;
}
.push15 {
    margin-bottom: 15px;
}
.bold {
    font-weight: bold;
}
ul.nospace, ol.nospace {
    list-style: none;
}
[class^="col-"]:first-child, [class*="col-"]:first-child {
    margin-left: 0;
}
.relatedtpl li {
    position: relative;
}
.col-1-3 {
    width: 30.52631578947368%;
}
.first {
    margin-left: 0;
    clear: left;
}
[class^="col-"], [class*="col-"] {
    position: relative;
    display: inline;
    float: left;
    margin: 0 0 0 4.21052631578947%;
    list-style: none;
}
.showcase li .tpltype, .relatedtpl li .tpltype {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 8px;
    text-align: center;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    line-height: 1;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 0 0 5px 0;
}
.tpltype.free {
    color: #FFF;
    background-color: #C0E079;
}
[id^="bsap_"] {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    clear: both;
    text-align: center;
}