<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template85.css">
</head>

<body>
    <div class="wrapper row1">
        <header>
            <div id="hgroup">
                <h1><a href="#">Basic 85</a></h1>
                <h2>Free HTML5 Web Template</h2>

            </div>
            <nav>
                <ul style="list-style:none;">
                    <li><a href="#">Text Link</a></li>
                    <li><a href="#">Text Link</a></li>
                    <li><a href="#">Text Link</a></li>
                    <li><a href="#">Text Link</a></li>
                    <li><a href="#">Text Link</a></li>
                </ul>
            </nav>
        </header>

    </div>


    <div class="wrapper row2">
        <div id="container" style="overflow: auto;">
            <section id="one">
                <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede
                    estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna
                    neque sed quis orci nulla laoremut vitae doloreet condimentumst.

                </p>
            </section>
            <div id="homepage">
                <section id="two">
                    <article>
                        <figure>
                            <ul style="list-style:none;">
                                <li class="one_fourth"><img src="./215x150.gif"></li>
                                <li class="one_fourth"><img src="./215x150.gif"></li>
                                <li class="one_fourth"><img src="./215x150.gif"></li>
                                <li class="one_fourth lastbox"><img src="./215x150.gif"></li>
                            </ul>

                            <figcaption>
                                <a href="#">View all our recent work here</a>
                            </figcaption>
                        </figure>



                    </article>
                </section>

                <section id="third">

                    <article class="one_third">
                        <figure>
                            <img src="./32x32.gif" height="32px" width="32px">
                        </figure>
                        <h2><strong>Lorum ipsum dolor</strong></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.</p>
                        <p class="more">
                            <a href="#">Read More</a>
                        </p>
                    </article>

                    <article class="one_third">
                        <figure>
                            <img src="./32x32.gif" height="32px" width="32px">
                        </figure>
                        <h2><strong>Lorum ipsum dolor</strong></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.</p>
                        <p class="more">
                            <a href="#">Read More</a>
                        </p>
                    </article>

                    <article class="one_third">
                        <figure>
                            <img src="./32x32.gif" height="32px" width="32px">
                        </figure>

                        <h2><strong>Lorum ipsum dolor</strong></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.</p>
                        <p class="more">
                            <a href="#">Read More</a>
                        </p>
                    </article>

                    <article class="one_third lastbox">
                        <figure>
                            <img src="./32x32.gif" height="32px" width="32px">
                        </figure>
                        <h2><strong>Lorum ipsum dolor</strong></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.</p>
                        <p class="more">
                            <a href="#">Read More</a>
                        </p>
                    </article>


                    <div id="spacer"></div>


                    <article class="one_third">
                        <figure>
                            <img src="./32x32.gif" height="32px" width="32px">
                        </figure>
                        <h2><strong>Lorum ipsum dolor</strong></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.</p>
                        <p class="more">
                            <a href="#">Read More</a>
                        </p>
                    </article>
                    <article class="one_third ">
                        <figure>
                            <img src="./32x32.gif" height="32px" width="32px">
                        </figure>
                        <h2><strong>Lorum ipsum dolor</strong></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.</p>
                        <p class="more">
                            <a href="#">Read More</a>
                        </p>
                    </article>
                    <article class="one_third">
                        <figure>
                            <img src="./32x32.gif" height="32px" width="32px">
                        </figure>
                        <h2><strong>Lorum ipsum dolor</strong></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.</p>
                        <p class="more">
                            <a href="#">Read More</a>
                        </p>
                    </article>
                    <article class="one_third lastbox">
                        <figure>
                            <img src="./32x32.gif" height="32px" width="32px">
                        </figure>
                        <h2><strong>Lorum ipsum dolor</strong></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.</p>
                        <p class="more">
                            <a href="#">Read More</a>
                        </p>
                    </article>


                </section>
            </div>

        </div>

    </div>



    <div class="wrapper row3">
        <footer id="foo">
            <p class="lfloat">Copyrights .All Rights Reserved - <a href="#">Domain Name</a>.</p>
            <p class="rfloat">Template by <a href="https://www.os-templates.com">OS Templates.</a></p>
        </footer>
    </div>
    

</body>

</html>