<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    div {
        width : 600px;
        height : 90px;
        margin :20px auto;

    }
    h2 {
        text-align: center;
        padding : 10px 
    }
    #main {
        border : 3px solid rebeccapurple;
        height : 100%;
    }
    
    #one {
        background-color: aqua;
    }
    #two {
        background-color: bisque;
        position : fixed;
        top : 100px;
    }
    #three {
        background-color: cornflowerblue;
        position: relative;
        top : 30px;
        left : 30px;
    }
    #four {
        background-color: darkorchid;
        position:absolute;
        top :0;
        right : 0;
    }
    #five {
        background-color: gold;
        position: sticky;
        top:0;
    }
    p {
    font-size: larger;
    padding: 10px;
    line-height: 1.6em;
}

</style>
<body>

<div id="main">

    <div id="one">

        <h2>THIS IS A NORMAL DIV</h2>

    </div>

    <div id="two">

        <h2>THIS IS A FIXED POSITIONED  DIV</h2>

    </div>

    <div id="three">

        <h2>THIS IS A RELATIVELY POSITIONED DIV</h2>


    </div>

    <div id="four">
       
        <h2>THIS IS AN ABSOLUTELY POSITIONED DIV</h2>

    </div>

        

    <div id="five">

        <h2>THIS IS A STICKY DIV</h2>

    </div>

    <p> Here we can see that the relatively positioned div three is aligned 
        according to the given offsets with reference to its own element.Also 
        we can note that the element when moved its space remained as it is and not
        occupied by the following element.The relative element when not
        given any offset property it would behave as a static element or as the element that has the 
        normal behavior </p>

    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste at necessitatibus, ab voluptates laboriosam dolorem neque saepe earum, natus rem vero quibusdam eligendi nam rerum culpa aliquid alias maiores temporibus!
    Quo reprehenderit nulla ab laborum assumenda adipisci dolor eaque velit tempore ullam quas, odio voluptatem esse, eos suscipit, consequuntur tempora id dolorem! Laboriosam molestias exercitationem dolore voluptatibus, unde temporibus accusantium.
    Illum accusamus at non, veritatis doloribus nesciunt eligendi cum eos rerum repudiandae aliquid a voluptas. Dolorum nisi ab dolore distinctio blanditiis. Iure molestiae alias quam adipisci ad minus autem accusantium!
    Officia expedita hic harum deleniti sequi commodi maxime debitis quasi perspiciatis id ut reprehenderit in animi, ab, quia officiis excepturi fuga explicabo consequuntur nihil impedit et necessitatibus vero. Consectetur, alias.
    Esse laboriosam ipsa, dicta quisquam, nisi ex dignissimos voluptas, mollitia provident officiis et eius a alias harum fugit repellendus sapiente porro est! Nesciunt inventore quibusdam quisquam nobis voluptatum debitis dicta.
    Deleniti aliquam a voluptatibus numquam assumenda accusamus, nam suscipit tempore sit natus repellat cupiditate soluta facilis sapiente dolor in iusto aliquid itaque ipsam at quos ullam illo nulla distinctio? Officiis?
    Alias est cum velit provident non sunt accusamus quae expedita commodi dolor itaque, voluptatibus laborum quas architecto sit ipsa asperiores voluptates fugit delectus voluptatem excepturi! Quos neque incidunt est vitae.
    Similique natus, blanditiis voluptatibus inventore assumenda optio tempora? Distinctio totam vitae sapiente doloribus necessitatibus aliquid eius quae labore, quia dolores unde at expedita ad debitis blanditiis soluta corrupti similique corporis.
    Beatae adipisci reiciendis rem ea id nemo odio doloremque illo, totam nisi suscipit velit tenetur, tempora inventore sapiente eos facilis officiis atque ullam magni laboriosam? Recusandae totam minima eum suscipit.
    Ea at minus, aliquam modi suscipit voluptatum reiciendis, praesentium neque eius perferendis blanditiis reprehenderit corrupti vero facere quisquam qui fuga, explicabo repellendus iure! Cupiditate ipsa nobis, optio rem velit blanditiis.
    Tenetur distinctio et accusantium blanditiis iste? Quam repellendus esse eum corporis doloribus, quisquam eligendi id nihil facere unde necessitatibus saepe deserunt obcaecati debitis voluptatibus ex ipsa fugiat odit consequatur. Aspernatur?
    Ipsum tenetur architecto non dicta inventore quod fugiat autem numquam repellat voluptatem, corporis commodi, unde laboriosam praesentium sunt blanditiis et ipsam dolorum molestiae animi eos assumenda. Facere dicta ratione possimus.
    Necessitatibus, optio ratione odit similique illo, molestias asperiores dolor ipsum rem minima placeat fuga nihil soluta pariatur voluptas doloribus fugiat dicta aperiam rerum libero. Mollitia est ab quaerat molestiae vero.
    Ipsa hic possimus eius iste, optio dolorem dolore quae nisi, laboriosam dolorum, minus suscipit soluta iusto ea doloremque nesciunt eum voluptates quisquam atque impedit illum eveniet? Numquam omnis sunt inventore.
    Culpa a sit facere ipsum enim pariatur in perferendis praesentium, error dolore consequatur quam omnis asperiores voluptates iusto sequi nesciunt dicta nam incidunt! Repudiandae nostrum illo vitae quis, molestiae consequatur?</P>

 </div>

</body>

</html>