* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
}

h1,
h2
{
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
}
div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}
#header{
   display: block;
    width: 960px;
     
}
#container {
	    position:fixed;
        top: 10px;
}
#header, #container, #footer {
	display: block;
	width: 960px;
	
    
}
#container #slider img {
	height:75px;
    width: 960px;
    background-color: brown;
    margin: 0 auto;
}
