body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background-color: #232323;
}

body {
    display: block;
    margin: 8px;
}

div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.row1,
.row1 a {
    color: #C0BAB6;
    background-color: #333333;
}

#header {
    padding: 20px 0;
}

#header,
#container,
#footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}

.clear {
    display: block;
    clear: both;
}

#header #hgroup {
    float: left;
    margin: 0 0 20px 0;
}

div {
    display: block;
}

#header #hgroup h1 {
    font-size: 36px;
}

#header #hgroup h1,
#header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.row1,
.row1 a {
    color: #C0BAB6;
    background-color: #333333;
}

a {
    outline: none;
    text-decoration: none;
}

#header #hgroup h1 {
    font-size: 36px;
}

#header #hgroup h1,
#header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#header #hgroup h2 {
    font-size: 13px;
}

#header #hgroup h1,
#header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#header #hgroup {
    float: left;
    margin: 0 0 20px 0;
}

div {
    display: block;
}

#header form {
    display: block;
    width: 290px;
    float: right;
    margin: 20px 0;
    padding: 0;
}

form,
fieldset,
legend {
    margin: 0;
    padding: 0;
    border: none;
}

form,
fieldset,
legend {
    margin: 0;
    padding: 0;
    border: none;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

legend {
    display: none;
}

form,
fieldset,
legend {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

#header form input {
    display: block;
    float: left;
    width: 200px;
    margin: 0;
    padding: 5px;
    color: #C0BAB6;
    background-color: #232323;
    border: 1px solid #666666;
}

input,
textarea,
select {
    font-size: 12px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#header form #sf_submit {
    display: block;
    float: right;
    width: 70px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF9900;
    border: none;
    cursor: pointer;
}

#header form input {
    display: block;
    float: left;
    width: 200px;
    margin: 0;
    padding: 5px;
    color: #C0BAB6;
    background-color: #232323;
    border: 1px solid #666666;
}

form,
fieldset,
legend {
    margin: 0;
    padding: 0;
    border: none;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

#header form {
    display: block;
    width: 290px;
    float: right;
    margin: 20px 0;
    padding: 0;
}

form,
fieldset,
legend {
    margin: 0;
    padding: 0;
    border: none;
}

#header nav {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
    clear: both;
}

#header nav ul {
    padding: 0 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}

#header nav li a {
    color: #C0BAB6;
    background-color: #232323;
}

.row1,
.row1 a {
    color: #C0BAB6;
    background-color: #333333;
}

a {
    outline: none;
    text-decoration: none;
}

#header nav li.last {
    margin-right: 0;
}

#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}

#header nav li a {
    color: #C0BAB6;
    background-color: #232323;
}

.row1,
.row1 a {
    color: #C0BAB6;
    background-color: #333333;
}

a {
    outline: none;
    text-decoration: none;
}

#header nav li.last {
    margin-right: 0;
}

#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}

#header {
    padding: 20px 0;
}

#header,
#container,
#footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}

.clear {
    display: block;
    clear: both;
}

.row1,
.row1 a {
    color: #C0BAB6;
    background-color: #333333;
}

.row2 {
    color: #979797;
    background-color: #FFFFFF;
}

#container {
    padding: 30px 0;
}

#header,
#container,
#footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}

.clear {
    display: block;
    clear: both;
}

#container #slider {
    margin-bottom: 50px;
}

#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}

.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}

a {
    outline: none;
    text-decoration: none;
}

#container #slider img {
    width: 960px;
    height: 280px;
}

img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}

#container #homepage {
    line-height: 1.6em;
}

div {
    display: block;
}

#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}

.clear {
    display: block;
    clear: both;
}

.one_quarter {
    width: 225px;
}

.one_quarter,
.two_quarter,
.three_quarter,
.four_quarter {
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

#container #homepage #services figure {
    display: inline;
    float: left;
}

address,
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
    margin: 0;
    padding: 0;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}

#container #homepage #services strong {
    float: left;
    margin: 8px 0 0 10px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#container #homepage #services p {
    display: block;
    margin: 0;
    padding: 5px 0 0 0;
    clear: both;
    line-height: 1.6em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#container .more {
    text-align: right;
}

.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}

a {
    outline: none;
    text-decoration: none;
}

.lastbox {
    margin-right: 0;
}

.one_quarter {
    width: 225px;
}

.one_quarter,
.two_quarter,
.three_quarter,
.four_quarter {
    display: block;
    float: left;
    margin: 0 20px 0 0;
}

#container .last {
    margin: 0;
}

#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}

.clear {
    display: block;
    clear: both;
}

.three_quarter {
    width: 715px;
}

.one_quarter,
.two_quarter,
.three_quarter,
.four_quarter {
    display: block;
    float: left;
    margin: 0 20px 0 0;
}

address,
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#container .more {
    text-align: right;
}

address,
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
    margin: 0;
    padding: 0;
}

.lastbox {
    margin-right: 0;
}

.one_quarter {
    width: 225px;
}

.one_quarter,
.two_quarter,
.three_quarter,
.four_quarter {
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

address,
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
    margin: 0;
    padding: 0;
}

.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}

a {
    outline: none;
    text-decoration: none;
}

#container .last {
    margin: 0;
}

#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}

.clear {
    display: block;
    clear: both;
}

#container #homepage {
    line-height: 1.6em;
}

div {
    display: block;
}

#container {
    padding: 30px 0;
}

#header,
#container,
#footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}

.clear {
    display: block;
    clear: both;
}

.row2 {
    color: #979797;
    background-color: #FFFFFF;
}

#footer {
    padding: 20px 0;
}

#header,
#container,
#footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}

.clear {
    display: block;
    clear: both;
}

#footer p {
    margin: 0;
    padding: 0;
}

.fl_left {
    float: left;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.row3,
.row3 a {
    color: #919191;
    background-color: #FFFFFF;
}

a {
    outline: none;
    text-decoration: none;
}

#footer p {
    margin: 0;
    padding: 0;
}

.fl_left {
    float: left;
}

.fl_right {
    float: right;
}

a {
    outline: none;
    text-decoration: none;
}

#footer {
    padding: 20px 0;
}

#header,
#container,
#footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}

.clear {
    display: block;
    clear: both;
}