* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    color: #919191;
    background-color: #232323;
}


div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.row1,
.row1 a {
    color: #c0BAB6;
    background-color: #333333;
}

header,
#container,
#footer,
#copyright {
    display: block;
    width: 960px;
    margin: 0 auto;
}

header {
    padding: 20px 0;
    overflow: auto;
}

header #hgroup {
    float: left;
    margin: 0 0 20px 0;
}

header h1 {
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    font-size: 36px;

}

a {
    text-decoration: none;
    outline: none;

}

header h2 {
    font-size: 13px;
}

header nav {
    display: block;
    float: right;
    margin: 10px 0 0 0;
    padding: 20px 0;
    color: #c0BAB6;
    background-color: #232323;
}

header nav ul {
    padding: 0 20PX;
}

header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}

header nav li.last {
    margin-right: 0;
}

#container {
    padding: 30px 0;
}

#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}

.one-third {
    width: 300px;
    display: block;
    float: left;
    margin: 0 20px 20px 0;
}

img {
    margin: 0;
    padding: 0;
    /* border: none;
    line-height: normal;
    vertical-align: middle; */
}

.one_third, .two_third, .three_third {
    display: block;
    float: left;
    margin: 0 0 30px 0;
    width: 100%;
}
#container #homepage {
    display: block;
    width: 100%;
    line-height: 1.8em;
}
.one-third img{
    margin: 0 0 15px 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
.clear{
    clear: both;
}
.row2{
    color: #979797;
    background-color: #ffffff;
    overflow: auto;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
#container .last {
    margin: 0;
}

#container #homepage #services article figure h2 {
    font-size: 14px;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
    /* font-size: ; */
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#container .more {
    text-align: right;
}
#homepage #services {  
    margin: 0 0 30px 0;
}

#container #homepage #intro article figure img {
    float: right;
    /* margin: 20px 0 10px 0; */
    padding: 4px;
    border: 1px solid #D6D6D6;
}
#intro figcaption{
    width: 460px;
}
h2{
    font-size: 32px;
}
.one-third {
    width: 300px;
    display: block;
    float: left;
    margin: 0 30px 20px 0;
}
.lastbox{
    margin: 0;
}