*{
margin: 0;
padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background-color: #232323;
    
}
div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow: auto;
   
}
.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
}
#header {
    padding: 20px 0;
    
}
#header, #container, #footer {
    display: block;
    width: 960px;
    margin: 0 auto;
}
 
    

#header #hgroup {
    float: left;
    margin: 0 0 20px 0;
}
div {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
#header #hgroup h1 {
    font-size: 36px;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}
a {
    outline: none;
    text-decoration: none;
}
#header #hgroup h2 {
    font-size: 13px;
}
#header form {
    display: block;
    width: 290px;
    float: right;
    margin: 20px 0;
    padding: 0;
}
form, fieldset, legend {
    margin: 0;
    padding: 0;
    border: none;
}
legend {
    display: none;
}
#header form input {
    display: block;
    float: left;
    width: 200px;
    margin: 0;
    padding: 5px;
    color: #C0BAB6;
    background-color: #232323;
    border: 1px solid #666666;
}
input, textarea, select {
    font-size: 12px;
    font-family: Georgia,"Times New Roman",Times,serif;
}
#header form #sf_submit {
    display: block;
    float: right;
    width: 70px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF9900;
    border: none;
    cursor: pointer;
}
#header nav {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
    clear: both;
}
#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
    
    
}
#header nav li.last {
    margin-right: 0;
}
#header nav ul {
    padding: 0 20px;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;
}
#container {
    padding: 30px 0;
}
#container #slider {
    margin-bottom: 50px;
}
#container section {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
    float: right;
    
}


a {
    
    outline: none;
    color: orange;
    text-decoration: none;
}
#container #slider img {
    width: 960px;
    height: 280px;
}
img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
    float: left;
}
#container #homepage {
    line-height: 1.6em;
}
.one_quarter {
    width: 225px;
}
.one_quarter img{
    height: 32px;
    width: 32px;
}

.one_quarter, .two_quarter, .three_quarter, .four_quarter {
    display: block;
    float: left;
    margin: 0 20px 0 0 ;
    text-align: justify;
}
.lastbox {
    margin-right: 0;
}
#container .last {
    margin: 0;
}

#container .last {
    margin: 0;
}
.three_quarter {
    width: 715px;

}
.one_quarter p {
    padding: 8px;
    clear: both;

}

#container .more {
    text-align: right;
}
address, article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}
.lastbox {
    margin-right: 0;
}

.row3, .row3 a {
    color: #919191;
    background-color: #232323;
}
#footer {
    padding: 20px 0;
    
}
#footer p {
    margin: 0;
    padding: 0;
    display: inline;
}




    
