<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./85template.css">
</head>
<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
              <h1><a href="#">Basic 85</a></h1>
              <h2>Free HTML5 Website Template</h2>
            </div>
            <nav>
              <ul>
                <li><a href="./stickyposition.html">Sticky</a></li>
                <li><a href="./fixedposition.html">Fixed</a></li>
                <li><a href="./absoluteposition.html">Absolute</a></li>
                <li><a href="./relativeposition.html">Relative</a></li>
                <li class="last"><a href="#">Text Link</a></li>
              </ul>
            </nav>
          </header>
    </div>
    <div class="wrapper row2">
        <div id="container" class="clear">
            <section id="shout">
                <p style="text-align: left;">
                    Telangana (meaning 'Land of Telugus') will be the 29th state of the Indian republic. The last time India had seen formation of new states was in 2000, when the then NDA government decided to carve out Jharkhand of Bihar, Chhattishgarh of Madhya Pradesh and Uttarakhand of Uttar Pradesh.
                </p>
            </section>
            <div id="homepage">
                <section id="latest">
                    <article>
                      <figure>
                        <ul>
                          <li class="one_quarter"><img src="./harishrao.jpg" width="215" height="150" alt=""></li>
                          <li class="one_quarter"><img src="./trs logo.webp" width="215" height="150" alt=""></li>
                          <li class="one_quarter"><img src="./kcr.webp" width="215" height="150" alt=""></li>
                          <li class="one_quarter lastbox"><img src="./ktr.jpg" width="215" height="150" alt=""></li>
                        </ul>
                        <figcaption><a href="#">View All Our Recent Work Here »</a></figcaption>
                      </figure>
                    </article>
                  </section>
                  <section id="services" class="last clear">
                    <article class="one_quarter">
                      <figure><img src="mla1.jpg" width="32" height="32" alt=""></figure>
                      <strong>RAMA LINGAREDDY</strong>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                      <p class="more"><a href="#">Read More »</a></p>
                    </article>
                    <article class="one_quarter">
                      <figure><img src="mla2.jpg" width="32" height="32" alt=""></figure>
                      <strong>ERRABELLI DAYAKAR</strong>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                      <p class="more"><a href="#">Read More »</a></p>
                    </article>
                    <article class="one_quarter">
                      <figure><img src="mla3.jpg" width="32" height="32" alt=""></figure>
                      <strong>SRINIVAS GOUD</strong>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                      <p class="more"><a href="#">Read More »</a></p>
                    </article>
                    <article class="one_quarter lastbox">
                      <figure><img src="mla4.jpg" width="32" height="32" alt=""></figure>
                      <strong>RASAMAI BALKISHAN</strong>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                      <p class="more"><a href="#">Read More »</a></p>
                    </article>
                    <div class="spacer"></div>
                    <article class="one_quarter">
                      <figure><img src="mla5.jpg" width="32" height="32" alt=""></figure>
                      <strong>DR.RAJANNA</strong>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                      <p class="more"><a href="#">Read More »</a></p>
                    </article>
                    <article class="one_quarter">
                      <figure><img src="mla6.jpg" width="32" height="32" alt=""></figure>
                      <strong>REKHA SHYAM NAYAK</strong>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                      <p class="more"><a href="#">Read More »</a></p>
                    </article>
                    <article class="one_quarter">
                      <figure><img src="mla7.jpg" width="32" height="32" alt=""></figure>
                      <strong>T.SRINIVAS YADAV</strong>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                      <p class="more"><a href="#">Read More »</a></p>
                    </article>
                    <article class="one_quarter lastbox">
                      <figure><img src="kavitha.jpg" width="32" height="32" alt=""></figure>
                      <strong>KAVITHA</strong>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
                      <p class="more"><a href="#">Read More »</a></p>
                    </article>
                  </section>
            </div>
        </div>
    </div>
    
        <div class="wrapper row3">
            <footer id="footer" class="clear">
              <p class="fl_left">Copyright © 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
              <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
            </footer>
          </div>
    

    
</body>
</html>