<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>combinators</title>
    <style>
        div{
            width:200px;
            height: 200px;
            background-color: red;
            border: 3px solid yellow;
            margin: 10px;
            float: left;
        }
       ul~ p{
        color: yellow;
       }

        
    </style>
</head>
<body>
    <div id="mydiv">
        <p>hello ajay</p>
        <ul>
            <li><p>
                iam in ul,li
            </p></li>
        </ul>
        <p>hello balu</p>
        <p>hello giri</p>
        
    </div>
    <div class="myclassdiv">
        <p>iam from myclassdiv</p>
    </div>
    
</body>
</html>