<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./day7template.css">
</head>
<body>
    <div class="wrapper row1">
        <div id="header" class="clear">
            <div id="hgroup">
                <h1>
                    <a href="#">basic 81</a></h1>
                <h2>Free Html5 Website Template</h2>
            </div>
            <nav>
               <ul>
            <li><a href="#">Text Link</a></li>
            <li><a href="#">Text Link</a></li>
            <li><a href="#">Text Link</a></li>
            <li><a href="#">Text Link</a></li>
            <li class="last"><a href="#">Text Link</a></li>
          </ul>
            </nav>
        </div>
    </div>
    <div class="wrapper row2">
      <div id="container">
        <section id="slider">>
            <a href="#">
                <img src="0x0.jpg">
            </a>
        </section>
        <section id="shout">
            <h1>lorem epsum</h1>
            <p>
                Ferrari is an Italian company which has produced sports cars since 1947, but traces its roots back to 1929 when Enzo Ferrari formed the Scuderia Ferrari racing team.
                Unlike many similar yet independent companies, Fiat Group-owned Ferrari continued to thrive after the death of its charismatic founder and is today one of the most
                 successful sports car companies in the world. In January 2016
            </p>
        </section>
        <div id="content">
            <section>
                <article>
                    <h2>lorum ipsum dolor</h2>
                    <p>
                        zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
                        zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
                        zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
                        zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
                        zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
                    </p>
                    <p>
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    
                    </footer>a
                  </article>
            </section>
            <section id="services" class="last clear">
                <article class="one_third">
                    <h2>lorum ipsum dollar</h2>
                    <img src="file:///C:/Users/amilp/OneDrive/Desktop/basic-81/images/demo/80x80.gif"alt>
                    <p>
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                    <footer class="more">
                        <a href=#">readmore>></a>
                    </footer>
                </article>
                <article class="one_thirdlastbox">
                    <h2>lorum epusm dolor</h2>
                    <img src="file:///C:/Users/amilp/OneDrive/Desktop/basic-81/images/demo/80x80.gif" alt>
                    <p>
                        mmmmmmmmmmmmmmmmmmmmmmmmm
                        mmmmmmmmmmmmmmmmmmmmmmmmm
                        mmmmmmmmmmmmmmmmmmmmmmmmm
                    </p>
                    <footer class="more">
                        <a href="#">readmore>></a>
                    </footer>
               </article>
            </section>
        </div>
        <aside id="right_column">
            <h2 class="title">Categories</h2>
            <nav>
                <ul>
                    <ul>
                        <li><a href="#">Free Website Templates</a></li>
                        <li><a href="#">Free CSS Templates</a></li>
                        <li><a href="#">Free XHTML Templates</a></li>
                        <li><a href="#">Free Website Layouts</a></li>
                        <li><a href="#">Free HTML5 Templates</a></li>
                        <li class="last"><a href="#">Free PNG Templates</a></li>
                    </ul>
                </ul>
            </nav>
            <h2 class="title">get in contact</h2>
            <section class="last">
                
                    <address>
                        Full Name<br>
                        Address Line 1<br>
                        Address Line 2<br>
                        Town/City<br>
                        Postcode/Zip<br>
                        <br>
                        Tel: xxxx xxxx xxxxxx<br>
                        Email: <a href="#">contact@domain.com</a>
                        </address>
                 </section>
        </aside>
      </div>  
    </div>
    <div class="wrapper row3">
        <footer id="footer">
            <p class="fl_left">
                "copyright @ 2018 -All Rights Reserved - "
                <a href="#">Domain name</a>
            </p>
            <p class="fl_right">
                template by OS templates
                
            </p>
        </footer>
    </div>
    
    
    
</body>
</html>