<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fixed</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        div{
            margin: 25px;
            border: 5px solid red;
            padding: 10px;
        }
        .box1{
            color:yellow;
            width: 95%;
            background-color: darkblue;
            height: 100px;
         
        }
          .box2{width: 95%;
            background-color:yellow;
            height: 150px;
           position: fixed;
           bottom: 10px;
            color: blue;
            
            
        }
        .box3{
            width: 95%;
            background-color: brown;
            height: 200px;
            color: darkgray;
        }
        .box4{
            width: 95%;
            background-color:mediumseagreen;
            height: 250px;
            color: skyblue;
        }
        
    </style>
</head>
<body>
    <div class="box1">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint amet consectetur repellendus cumque molestiae, cupiditate officiis excepturi possimus mollitia a fuga voluptatibus in rerum eum necessitatibus. Optio, accusantium doloremque? Odio?
        Natus voluptatum asperiores assumenda perspiciatis dolor? Accusamus sed voluptatum, eaque facilis, possimus in iusto officia facere cum, illo accusantium ducimus est magnam nemo eligendi quas! Asperiores impedit eius voluptas laborum.
        Et magni, culpa cum minus at quasi. Nulla necessitatibus iure quibusdam alias </p>
    </div>
    <div class="box2">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint amet consectetur repellendus cumque molestiae, cupiditate officiis excepturi possimus mollitia a fuga voluptatibus in rerum eum necessitatibus. Optio, accusantium doloremque? Odio?
            Natus voluptatum asperiores assumenda perspiciatis dolor? Accusamus sed voluptatum, eaque facilis, possimus in iusto officia facere cum, illo accusantium ducimus est magnam nemo eligendi quas! Asperiores impedit eius voluptas laborum.
            Et magni, culpa cum minus at quasi. Nulla necessitatibus iure quibusdam aliasLorem ipsum dolor sit, amet consectetur adipisicing elit. Sint amet consectetur repellendus cumque molestiae, cupiditate officiis excepturi possimus mollitia a fuga voluptatibus in rerum eum necessitatibus. Optio, accusantium doloremque? Odio?
            Natus voluptatum asperiores assumenda perspiciatis dolor? Accusamus sed voluptatum, eaque facilis, possimus in iusto officia facere cum, illo accusantium ducimus est magnam nemo eligendi quas! Asperiores impedit eius voluptas laborum.
            Et magni, culpa cum minus at quasi. Nulla necessitatibus iure quibusdam alias </p>
    </div>
    <div class="box3">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint amet consectetur repellendus cumque molestiae, cupiditate officiis excepturi possimus mollitia a fuga voluptatibus in rerum eum necessitatibus. Optio, accusantium doloremque? Odio?
            Natus voluptatum asperiores assumenda perspiciatis dolor? Accusamus sed voluptatum, eaque facilis, possimus in iusto officia facere cum, illo accusantium ducimus est magnam nemo eligendi quas! Asperiores impedit eius voluptas laborum.
            Et magni, culpa cum minus at quasi. Nulla necessitatibus iure quibusdam alias </p>
    </div>

    
<div class="box4">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint amet consectetur repellendus cumque molestiae, cupiditate officiis excepturi possimus mollitia a fuga voluptatibus in rerum eum necessitatibus. Optio, accusantium doloremque? Odio?
            Natus voluptatum asperiores assumenda perspiciatis dolor? Accusamus sed voluptatum, eaque facilis, possimus in iusto officia facere cum, illo accusantium ducimus est magnam nemo eligendi quas! Asperiores impedit eius voluptas laborum.
            Et magni, culpa cum minus at quasi. Nulla necessitatibus iure quibusdam aliasLorem ipsum dolor sit, amet consectetur adipisicing elit. Sint amet consectetur repellendus cumque molestiae, cupiditate officiis excepturi possimus mollitia a fuga voluptatibus in rerum eum necessitatibus. Optio, accusantium doloremque? Odio?
            Natus voluptatum asperiores assumenda perspiciatis dolor? Accusamus sed voluptatum, eaq
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolore inventore officiis recusandae ullam non ea deleniti iusto quisquam excepturi molestias dicta, vero et ad expedita dolorem reiciendis magnam. Consectetur.
            Excepturi consequatur voluptatibus ut incidunt natus dolorem omnis, quos laboriosam fuga accusamus molestias eum itaque repudiandae perspiciatis quia quibusdam nisi ad maxime iusto, facilis quisquam? Consequatur cum explicabo deleniti voluptatem.
            Odit iure eum recusandae velit, molestiae mollitia nam quisquam quam inventore a quod id delectus ad aspernatur quae beatae tempore voluptates. Eaque, corporis quibusdam. Recusandae quae veritatis cum corrupti accusamus!
            Non, odit omnis animi incidunt ratione aut sed, repellat, dolore culpa nesciunt aliquid! Perspiciatis enim necessitatibus natus repudiandae, sapiente sint illo ratione non ad blanditiis sit sunt voluptatem reiciendis laborum!
            is!</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni veniam quas optio architecto, aspernatur dolor accusantium eaque odit ipsa sed quo et sint neque. Alias aliquid tempora earum est libero.
            Quasi, saepe itaque excepturi quod autem perspiciatis magnam sed blanditiis optio voluptatem ullam facilis dolorem tempore, cum suscipit! Pariatur perferendis numquam porro nisi tenetur sunt quis iure tempora eum ab!
            Earum, consequuntur hic? Qui, ut eaque officia reiciendis minima minus tenetur praesentium mollitia tempore animi incidunt quia voluptatem reprehenderit perspiciatis esse? Mollitia odio placeat neque soluta quos non autem impedit.
            Sequi, iste distinctio. Consequuntur, perspiciatis doloremque error corrupti illo, a aliquam iste veniam porro laborum totam quae assumenda ratione minima laudantium saepe architecto fugit nobis quisquam voluptate est! Ut, enim.
            Maiores ducimus, aperiam dolores cum vero quia necessitatibus repellendus non recusandae fugiat a numquam quas, autem enim? Inventore qui recusandae, officiis, reiciendis dicta praesentium itaque suscipit quasi molestiae eveniet eligendi!
            Rem blanditiis amet recusandae ad eaque corrupti minima dolorem dicta ab qui consectetur illum id fugit esse, aliquid explicabo fuga tempore obcaecati alias mollitia libero. Quod, iusto! Laboriosam, quae cumque?
            Quasi, odio sit! Numquam, non deleniti. Pariatur at eaque velit numquam doloremque obcaecati magni sint nemo nesciunt impedit id suscipit, asperiores quas sequi architecto vel deserunt neque mollitia in sed.
            Quidem eos et distinctio voluptas accusamus harum delectus ea, quam aspernatur alias ratione corrupti! Mollitia quisquam itaque iusto, beatae sit cumque minus labore aliquid totam unde et consectetur molestiae deleniti.
            Mollitia doloribus consectetur ab quis recusandae vel animi sequi aut eligendi dolorum odio itaque voluptatem suscipit corrupti, incidunt perferendis doloremque impedit ullam provident quia voluptatibus ex. Nisi beatae facilis commodi.
            Fuga, sequi quidem exercitationem commodi voluptatum recusandae possimus minus fugiat inventore ea officiis, illo ipsam molestiae minima aut. Modi fugiat, tenetur illum sequi eaque saepe unde quaerat ab cupiditate quia!
            Suscipit libero autem inventore magni quia laudantium esse placeat adipisci. Non nam quia cumque voluptas voluptates accusamus nobis repellat voluptatum aspernatur, fuga fugiat repellendus veniam asperiores sapiente! Laboriosam, est. Quam!
            Obcaecati accusamus recusandae earum non distinctio aspernatur perferendis ea ex ipsum maiores iure nesciunt possimus, omnis ad esse quis quasi, temporibus, at beatae. Quidem rem eaque ex officia nam nulla!
            Dolor officia corporis quasi recusandae delectus rem ab quaerat quos architecto qui aut assumenda, in doloribus eum porro temporibus laudantium perferendis ea dignissimos, sed nihil? Ratione quos quis odio dolorum!
            Accusantium iusto voluptatibus fugit molestiae enim nisi, eos obcaecati ex cupiditate facere! Reiciendis, fuga exercitationem voluptatibus atque est aliquid, cumque ex deleniti, fugit at aperiam accusantium cum eveniet. Similique, eos.
            Perspiciatis corrupti nisi optio molestias totam non accusamus pariatur ad beatae quo eius doloribus, necessitatibus hic quibusdam? Repudiandae laboriosam, itaque delectus nobis, excepturi iste, officia maxime aut ratione corrupti in!
            Quae provident delectus est, magnam odio aut molestias in consequuntur quod, iste a ipsum eveniet cum veniam asperiores numquam autem ipsam quas fugit. Corporis minima et voluptate cupiditate illo veritatis.
            Dolorem et dolor iusto. Voluptatem eveniet tempora doloremque debitis obcaecati, ullam sed facere qui quas recusandae iure, molestias fuga repudiandae aperiam? Tenetur eligendi a vitae eum omnis doloribus iste architecto?
            Excepturi officia minus reiciendis odit suscipit magni molestias saepe possimus repellendus perspiciatis nam expedita pariatur ea quasi quod, harum vel rem facere porro ut fugit. Facere optio ullam ipsum ut?
            Magnam vel distinctio aut sed error nihil eaque neque eum omnis voluptas! Veritatis ratione repellendus, quisquam harum provident molestias ex, eveniet inventore facere similique, cumque ut quos sunt blanditiis natus.
            Aliquam quaerat qui, alias facere rerum facilis possimus sint neque, saepe, aut fugit. Sit asperiores itaque quod libero officia, cupiditate placeat, facilis reprehenderit velit recusandae delectus vero debitis facere commodi.
            Necessitatibus possimus obcaecati recusandae explicabo quae consectetur, alias eveniet natus error enim, repellendus quia iure ratione exercitationem? Nemo aliquid, voluptates molestias commodi ea possimus. Ducimus ipsum libero inventore odit temporibus?
            Sint, quidem! Sint, suscipit nostrum recusandae tempore saepe aliquam doloribus ratione impedit dolore numquam minima cumque vitae earum eos esse ut quos odit, facere tempora minus quia excepturi. Dolor, sapiente?
            Libero culpa expedita quae repudiandae perspiciatis quam soluta consequatur dolores atque odit, doloremque veritatis autem! Suscipit voluptatum accusamus sed eos necessitatibus in voluptatibus, magni perspiciatis debitis, officia rem quod fuga.
            Expedita reiciendis possimus unde sint veritatis perspiciatis porro aut ea accusantium velit quia doloribus molestiae ullam voluptas saepe laboriosam doloremque neque reprehenderit, fuga aliquid corporis harum voluptatem. Eligendi, beatae aut!
            Fugiat earum, est inventore vero beatae dolor officiis rem eligendi, saepe sed velit rerum sint ipsam omnis, quidem fuga illo voluptate illum ex repellendus? Minima sunt vitae aut iure animi?
            Sapiente molestiae, quos illo eum, voluptas vero perspiciatis quod laudantium autem sint dolorum. Exercitationem voluptatem provident aliquid explicabo, impedit possimus laborum consequatur quod magni blanditiis corrupti illum aspernatur modi asperiores?
            Dolor eligendi earum repellendus, neque cum asperiores odio optio quaerat iusto aperiam enim nobis accusantium libero! Nemo, dolor? Asperiores ab expedita corporis a animi placeat suscipit delectus cum veritatis impedit.
            Magni enim placeat doloribus, laudantium ipsa adipisci maxime repellat vero eveniet vel provident, aspernatur voluptatibus fugiat ullam, aliquid modi cum odio quo dolor saepe quia libero. Dicta, sunt! Laboriosam, veniam.
            Dolore libero iure molestiae vitae voluptate ducimus. Debitis quod sint consequuntur! Iste aperiam nisi eligendi velit consequatur quaerat quia maiores eaque? Perspiciatis ut sit error sed numquam, itaque debitis eius!
            Nemo accusantium, deserunt mollitia natus quos modi laudantium magni autem cum atque dolores reiciendis quis beatae ducimus optio a nulla officia nostrum! Facilis earum eos laboriosam sapiente necessitatibus eius cupiditate?
            Mollitia voluptas aperiam ipsum dolorum cumque voluptates ipsam beatae nihil sapiente reprehenderit est eveniet, minus magnam adipisci quia fugiat ratione natus numquam sed voluptate repudiandae harum animi quos? Voluptate, accusantium?
            Aliquid, a exercitationem! Animi unde, ut reiciendis voluptates fugit accusamus nulla libero, quas possimus sequi obcaecati! Et laudantium voluptates sint quos ducimus, perspiciatis totam tenetur quibusdam molestiae consectetur architecto explicabo.
            Totam provident molestias deserunt excepturi! Incidunt eius quis voluptatem suscipit nostrum dolore aliquam. Minima vero ipsam amet numquam tempora error. Temporibus labore dolores harum rerum. Hic autem qui explicabo aliquid.
            Adipisci ullam quis ipsum, eveniet et quibusdam laboriosam dignissimos. Error eum officia distinctio corporis aliquid nobis quam odio veritatis enim porro! Mollitia impedit dolorem, illo exercitationem quas maxime magnam corrupti.
            Maxime dolor eos aperiam neque quisquam vitae commodi, cum voluptatibus veritatis, facilis, quae est aspernatur vero asperiores maiores beatae! Quae cum aliquam, nisi libero nam quis dignissimos facere neque quisquam.
            Ab ex aperiam laborum atque! Vero qui aperiam dolor nobis ex obcaecati est nesciunt recusandae commodi, natus id vitae sapiente esse quo corrupti expedita veritatis suscipit vel magni dignissimos. Rerum!
            Eveniet amet ab cupiditate laboriosam sed porro consectetur nesciunt ad, eius consequuntur delectus officia iusto iste expedita consequatur ullam voluptate dolore voluptatem praesentium corrupti quis obcaecati minus error. Cum, minima.
            Laboriosam nihil praesentium illo. Dolores voluptate a quos, natus dignissimos facilis necessitatibus quia iusto excepturi, mollitia quisquam. Doloribus nemo dolores dicta impedit facere doloremque qui, quisquam ut atque, unde labore.
            Recusandae, voluptatem eos totam expedita quaerat consequuntur corporis odio error sit alias temporibus sapiente reiciendis in ipsa eligendi placeat ipsum assumenda natus quae dolorum dolores nihil dolore ex optio. Quibusdam.
            Id quod, optio at blanditiis, quas asperiores quasi eaque neque vel rerum iste tenetur harum, dolores voluptatem accusamus! Quisquam alias doloribus ducimus fugiat ipsa minus provident qui eveniet maiores? Quibusdam!
            Tempore id unde assumenda magnam expedita deleniti sunt, aspernatur porro suscipit architecto sint molestias! Reiciendis voluptas nostrum, numquam architecto saepe sit exercitationem. Itaque inventore minus iure modi dolorum quibusdam repellat!
            Quia quasi, dolorum eos commodi veritatis odio nesciunt excepturi numquam eius est a porro voluptatem maxime voluptatibus laudantium labore natus libero consequuntur nihil nulla consequatur! Tempora quia quaerat ipsum delectus.
            Impedit tempore, vel asperiores rem autem dolorum ab corrupti ex molestiae animi praesentium excepturi nobis. Et laboriosam explicabo animi hic, qui voluptate atque. Accusamus animi fugit quis consequuntur corporis voluptates.
            Nulla perspiciatis odit aliquid reprehenderit aspernatur temporibus repellendus sapiente officia quasi, ipsum soluta placeat, iste assumenda aut eum porro sed et quia esse commodi vitae. Doloribus eius nobis perferendis iste!
            In dolore voluptatem unde culpa similique, et ipsum laborum debitis cum placeat eius voluptas velit quibusdam officiis consectetur excepturi rerum praesentium animi totam mollitia, ducimus assumenda nisi exercitationem? Nihil, nobis!
            Ad consequuntur officiis provident culpa, odio sunt nihil ut, atque obcaecati minima ipsam, error eius quos! Recusandae vitae vel dignissimos voluptas, animi, est modi sequi, mollitia excepturi quod nam. Facilis!
            Tempora, cupiditate perspiciatis quibusdam repudiandae repellendus rerum quae, ad aliquam amet soluta debitis voluptatem autem voluptas quas, labore illo mollitia corporis veritatis nesciunt impedit! Officia at delectus harum vero nisi.
            Similique distinctio quaerat consectetur provident doloremque beatae ipsa inventore quo cum tempore. Aliquid corrupti asperiores atque vel eveniet vitae officiis quod, consectetur quia, qui ipsum minima eos, eum sunt non!
            Praesentium voluptatum voluptas, provident nisi illo excepturi quibusdam optio qui facilis? Tempora modi, ut, doloremque sed qui sapiente laudantium tempore, magni vel aspernatur dolore fugit voluptas error neque quidem debitis.
            Quaerat reiciendis tempora voluptates. Consequuntur in laboriosam repudiandae praesentium a blanditiis sapiente corporis deleniti culpa dolores. Commodi, optio ratione amet error, mollitia explicabo fugit dolorem debitis praesentium laboriosam inventore maxime.
           
        </body>
            </html>>
