<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <STYLE>
        
       .channel{
        background-color: black;
       overflow: auto;
       }
        
         #news{
            color: red;
            list-style: none;
            float: left;
            overflow: auto;
            
            }
            li{
                margin: 5px;
                float: left;
                
            }
            #bar{
                float: right;
                list-style: none;
                color: red;
            }

             
    </STYLE>
</head>
<body>
    <div class="channel">
        <ul id="news">
            <li style="background-color: yellow ;">BBC</li>
            <li style="background-color: grey;">NDTV</li>
            <li style="background-color:pink">V6</li>
            <li style="background-color:wheat ;">ETV</li>
        </ul>
        <ul id="bar">
            <li style="background-color:wheat ;">SEARCH</li>
            <li style="background-color:yellow ;">research</li>
        </ul>
    </div>
    
</body>
</html>