*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
}
div.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
header#header {
    display: flex;
    margin: 0 0 0px 0;
    width: 960px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}
#header #hgroup h1 {
    font-size: 36px;
    font-style: inherit;
}
#header #hgroup h2 {
    font-size: 13px;
    font-style: inherit;
}
#header #hgroup{
    margin: 0 0 20px 0;
}
#header nav li a {
    color: #C0BAB6;
    background-color: #232323;
    list-style: none;
}
#header nav li a:hover {
    color: #FF9900;
    background-color: #232323;
}
#header nav ul {
    padding: 0 20px;
    display: flex;
}
#header nav {
    display: block;
    width: 100%;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}
legend {
    display: none;
}
header li {
    text-transform: uppercase;
    margin-right: 25px;
    list-style: none;
}
#header form {
    width: 290px;
    margin: 20px 0;
}
input[type="text"] {
    width: 200px;
    margin: 0;
    padding: 5px;
    color: #C0BAB6;
    background-color: #232323;
    border: 1px solid #666666;
}
#header form #sf_submit {
    width: 70px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF9900;
    border: none;
    cursor: pointer;
}
fieldset {
    display: flex;
    justify-content: space-around;
    border: none;
}
input, textarea, select {
    font-size: 12px;
    font-family: Georgia,"Times New Roman",Times,serif;
}
.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
}
a {
    outline: none;
    text-decoration: none;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;
}
#container {
    padding: 30px 0;
}
#container #homepage {
    line-height: 1.6em;
}
#container section {
    width: 100%;
    margin: 0 0 30px 0;
}
.one_quarter {
    width: 225px;
}
.one_quarter, .two_quarter, .three_quarter, .four_quarter {
    margin: 0 20px 0 0;
}
#container #homepage #services figure {
    display: inline;
    float: left;
}
img {
    border: none;
    line-height: normal;
    vertical-align: middle;
}
#container #homepage #services p {
    padding: 5px 0 0 0;
    line-height: 1.6em;
}
#container #homepage #services strong {
    float: left;
    margin: 8px 0 10 10px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
#container .more {
    text-align: right;
}
#container .last {
    margin: 0;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
.three_quarter {
    width: 715px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
section#services {
    display: flex;
}
section.last.clear {
    display: flex;
}
p {
    margin-top: 10px;
}
.row3, .row3 a {
    color: #919191;
    background-color: #232323;
}
footer#footer {
    width: 960px;
}
footer#footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
p.fl_left,p.fl_right {
    margin: 0px;
}