* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
}
.two {
	    position:fixed;
        top: 10px;
}
.one .two{
	display: block;
	width: 960px;
	
    
}
 #slider img {
	height:75px;
    width: 960px;
   
   
}
