* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:13px;

}
div.wrapper{
    display: flex;
    justify-content: center;
    width:100%;
}
.row1{
    color :#C0BAB6;
    background-color: #333333;
}
header {
    width : 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding : 20px 0;
}
#hgroup {
    margin : 0 0 20px 0;
}
#hgroup h1{
        font-size : 36px;
}
#hgroup h2{
    font-size : 13px;
}
header #hgroup h1, header #hgroup h2 {
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}
header nav {
    padding:20px 0;
    background-color: #232323;
    width : 960px;
}
header nav ul {
    display : flex;
    list-style:none;
    
    padding : 0 20px;
}
header li {
     text-transform: uppercase;
     margin-right: 25px;
}
header li a{
    color : #C0BAB6;
    text-decoration: none;
}
.last {
    margin-right: 0 !important;
}
legend {
    display: none;
}
header form {
    width : 290px;
    margin:20px 0;
}
header form input {
    width: 200px;
    margin: 0;
    padding: 5px;
    color: #C0BAB6;
    background-color: #232323;
    border: 1px solid #666666;
}
header form #sub {
    width: 70px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF9900;
    border: none;
    cursor: pointer;
}
.row2 {
    color : #919191;
}
#container {
    width:960px;
    padding : 30px 0;
    display:flex;
    flex-wrap: wrap;
}
#slider {
    width : 100%;
    margin-bottom: 30px;
  
}
#slider figure {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    line-height: 1.6em;

}
#slider figcaption {
    width:290px;
    height : 260px;
    padding : 20px;
    color: #989898;
    background-color: #464646;

}
#slider figure h2 {
    font-size: 42px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    line-height: normal;
}
#slider figure p {
    margin:13px 0;
}
.more {
    text-align: right;
}
#intro {
    width : 960px;
    border-bottom: 1px dotted #C0BAB6;
    margin-bottom:60px;
    padding-bottom: 20px;
}
#intsec {
    width : 960px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding : 0 0 30px 0;
}
.art {
    width : 470px;
}
.another ul li{
    list-style: none;
}
.another ul {
    display:flex;
    justify-content: space-between;
}
.another figcaption{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.art h2,.art p {
    margin-bottom: 15px;
} 
.art a {
    text-decoration: none;
    color : #FF9900;
}
#homepage {
    width : 100%;
    display: flex;
    justify-content: space-between;
}
.homesec {
    width : 225px;
    line-height: 1.6em;
    color : #979797;
}
.hd  {
    width:100%;
}
.hd h2 {
    font-size : 13px;
    font-weight: bold;
}

address,time{
    font-size : 10px;
    
}
.right {
    width : 470px;
}
img.imgl {
    float: left;
    margin: 0 15px 15px 0;
    padding :4px;
    border:1px solid #D6D6D6;
}
.homesec p {
    margin: 13px 0;
}
h2.title {
    margin: 0 0 25px 0;
    padding: 0 0 8px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    color : #979797;
}
.homesec header {
    display: block;
    padding : 0;
}
.homesec a {
    color: #FF9900;
    background-color: #FFFFFF;
    text-decoration: none;
}
.homesec nav ul {
    display: flex;
    flex-direction:column;
    list-style: none;
}
.homesec ul li {
    margin: 0 0 8px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #DEDEDE;
}
.row3 {
    background-color: #232323;
    color : #919191;
}
.row3 footer{
    display: flex;
    justify-content: space-between;
    padding:20px 0;
    width:960px;
    align-items: center;
}
