*{
    margin: 0;
    padding: 0;
}
.wrapper {
    display: grid;
    width: 100%;
    justify-content: center;
}
body {
       font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
  
}
#header, {
    /* display: block; */
    width: 960px;
    /* margin: 0 auto; */
}
div#main {
    display: grid;
    width: 960px;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
}
a {
    outline: none;
    text-decoration: none;
}
#header {
    padding: 20px 0;
}
#header #hgroup {
    /* float: left; */
    margin: 0 0 20px 0;
}
#header #hgroup h1 {
    font-size: 36px;
}
#header #hgroup h2 {
    font-size: 13px;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
#header form {
    /* display: block; */
    /* width: 290px; */
    /* float: right; */
    margin: 20px 0;
    /* padding: 0; */
}
form, fieldset {
    /* margin: 0; */
    /* padding: 0; */
    border: none;
}
#header form input {
    /* display: block; */
    /* float: left; */
    /* width: 200px; */
    /* margin: 0; */
    padding: 5px;
    color: #C0BAB6;
    background-color: #232323;
    border: 1px solid #666666;
}
input, textarea, select {
    font-size: 12px;
    font-family: Georgia,"Times New Roman",Times,serif;
}
#header form #sf_submit {
    /* display: block; */
    /* float: right; */
    /* width: 70px; */
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF9900;
    border: none;
    cursor: pointer;
}
#header nav {
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}
#header nav ul {
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    list-style: none;
    justify-content: space-between;
    padding: 0 20px;
    justify-content: start;
}
#header nav li {
    /* display: inline; */
    margin-right: 25px;
    padding: 0 10px;
    text-transform: uppercase;
}
#header nav li a {
    color: #C0BAB6;
    background-color: #232323;
}
 #container{
    display: grid;
    width: 960px;
    margin: 0 auto;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;
}
#container {
    padding: 30px 0;
}
#container #slider {
    margin-bottom: 50px;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
a {
    outline: none;
    text-decoration: none;
}
#container #slider img {
    width: 960px;
    height: 280px;
}
img {
    /* margin: 0; */
    /* padding: 0; */
    /* border: none; */
    /* line-height: normal; */
    vertical-align: middle;
}
#services img{
    float: left;
}
#container #homepage {
    line-height: 1.6em;
}
#services{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.one_quarter {
    width: 225px;
}
.one_quarter, .two_quarter, .three_quarter, .four_quarter {
    /* display: block; */
    /* float: left; */
    margin: 0 20px 0 0;
}
#container .more {
    text-align: right;
}
#container section {
    /* display: block; */
    /* width: 100%; */
    margin: 0 0 30px 0;
    /* padding: 0; */
}
#container #homepage #services strong {
    /* float: left; */
    margin: 8px 0 0 10px;
    /* padding: 0; */
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
#container #homepage #services p {
    /* display: block; */
    /* margin: 0; */
    padding: 5px 0 0 0;
    /* clear: both; */
    /* line-height: 1.6em; */
}
.three_quarter {
    width: 715px;
}
section.last.clear {
    display: grid;
    grid-template-columns: auto auto;
}
p{
    margin: 13px;
}
.row3, .row3 a {
    color: #919191;
    background-color: #232323;
}
#footer {
    padding: 20px 0;
}
#footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
}
