body{
    background: gray;
}
#First{
    
    margin:0 auto;
    overflow: auto;
    background:white;
    padding:10px;
    
}

li{
    color: black;
    list-style:none;
    float:right;
    margin:2px;
    padding:5px;
    padding-right: 40px;
    
    
    
}

h2{
    text-align: center;
    padding: 50px;

}
#Second{
    background:black;
    padding:10px;
    overflow:auto;
    margin:50px auto;
}
.number1{
    color:white;
    list-style:none;
    float:right;
    margin:2px;
    padding:5px;
    padding-right:40px;

}
#Third{
    background:white;
    padding:10px;
    overflow:hidden;
    margin:50px auto;
}
.number2{
    display:block;
}