* {
    padding : 0;
    margin:0
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color : #C0BAB6;
    font-size: 13px;
}
div.wrapper{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row1 {
    width : 960px;
    background-color: #333333;
}
header {
    width:960px;
    display: flex;
    justify-content: space-between;
    padding:20px 0;
}
header ul {
    display:flex;
    list-style: none;
    padding : 0 20px;
}
nav {
    padding : 20px 0;
    margin:10px 0 0 0;
    background-color: #232323;
}
#hgroup {
    padding : 0 0 20px 0;
}
header li {
    margin-right : 25px;
    
}
.last {
    margin : 0 !important;
}
header a {
    text-decoration: none;
    text-transform: uppercase;
    color : #C0BAB6;
}
#container {
    width:960px;
    display: flex;
    flex-wrap: wrap;
    padding : 30px 0;
}
#fig {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width:960px;
    margin-bottom:50px;
   

}
#fig img {
    width:630px;
    height:300px;
}
#fig figcaption{
    width : 280px;
    height:260px;
    padding:20px;
    background-color: #DEDEDE;
    color : #989898;
}
#fig h2 {
    font-size: 42px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}
#fig p {
    margin : 13px 0;
    line-height: 1.6em;
}
#fig footer {
    text-align: right;
}
#services{
    width:960px;
    display:flex;
    flex-wrap: wrap;
    margin-bottom:50px;
    justify-content: space-between;
}
.one_third{
    width:300px;
    color :#979797;


}
.one_third h2{
    margin-bottom:15px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    width:100%;
}
.one_third img {
    padding : 4px;
    margin : 0 10px 10px 0;
    border : 1px solid #DEDEDE;
    float:left;
}
.one_third p {
    line-height: 1.6em;
}
 .more{
    margin-top:10px;
    text-align: right;
    width:100%;

}
.more a {
    text-decoration: none;
   
}
#homepage{
    width:960px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.one_quarter {
    width:225px;
    line-height: 1.6em;
}
.one_quarter  img {
    padding:4px;
    margin-bottom:10px;
    border:1px solid #DEDEDE;
}
.one_quarter p{
    margin:13px 0;
}
#container a {
    color : orange;
}
footer {
    width:960px;
    display:flex;
    justify-content: space-between;
    padding:20px 0;
    
}
.row3 {
    background-color: #232323;
}
footer a  {
    color :#979797;
    text-decoration: none;
}