* {
    padding : 0;
    margin : 0
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size : 13px;
    color : #C0BAB6;
}
div.wrapper {
    width : 100%;
    display: grid;
    justify-content: center;
}
.row1 {
    background-color: #333333;
}
header a {
    text-decoration: none;
    color : #C0BAB6;
}
header {
    width : 960px;
    padding : 20px 0;
    display :grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
#hgroup {
    margin : 0 0 20px 0;
}
#hgroup h1, #hgroup h2 {
    font-style:normal;
    font-weight: normal;
}
#hgroup h1 {
    font-size:36px;
}
#hgroup h2{
    font-size: 14px;
}
 #start{
    margin: 10px 0;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}
#start ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    list-style: none;
    text-transform: uppercase;
    padding : 0 20px;
    column-gap: 25px;
}
#container {
    width : 960px;
    display: grid;
    padding : 30px 0;
}
#slider {
    margin-bottom : 50px;
}
#services {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-content: space-between;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #DEDEDE;
    margin : 0 0 30px 0;
}
.one_quarter {
    width:225px;
    line-height: 1.6em;
    display: grid;
    grid-template-columns: 32px auto;
    grid-template-rows: auto auto auto;
}
strong {
    grid-area: 1 / 2 / 2 / 3;
    margin: 8px 0 0 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color : #979797;
}
.one_quarter p {
    grid-area: 2 / 1 / 3 / 3;
    padding : 5px 0 0 0; 
}
p.more {
    grid-area: 3 / 1 / 4 / 3;
    text-align: end;
    padding : 5px 0 0 0;
    
} 
p.more a {
    text-decoration: none;
    color : #FF9900;
}
#latest figure {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    column-gap: 25px;
    row-gap: 8px;
}
#latest {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #DEDEDE;
    margin:0 0 30px 0;
}
#latest img {
    
    padding: 4px;
    border: 1px solid #D6D6D6;
}
#latest figure figcaption {
    grid-area: 2 / 1 / 3 / 4;
    text-align: end;
    color : #FF9900;
}
#content {
    display: grid;
    grid-template-columns: 70% 30%;
}
#tens {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 30px;
    line-height: 1.6em;
}
#tens img {
    padding: 4px;
    border: 1px solid #D6D6D6;
}
#tens h2{
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    font-size:14px;
    color: #979797;
}
#tens p {
    margin:13px 0;
}

 .last figure {
    display: grid;
    grid-template-columns: 180px auto;
    column-gap: 30px;
}
.last figcaption {
    width : 410px;
}
footer.more {
    text-align: right;
}
#tens a {
    text-decoration: none;
    color : #FF9900;
}
aside h2{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DEDEDE;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    color: #979797;
}
#end ul {
    display: grid;
    grid-template-rows: repeat(10,1fr);
    row-gap: 14px;
    list-style: none;
}
#end ul li{
    border-bottom: 1px dotted #979797;
   
}
#end ul a {
    text-decoration: none;
    color : #666666;
    padding: 5px 10px 5px 20px;
    
}
.row3 footer{
    width: 960px;
    padding: 20px 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.row3, .row3 a {
    background-color: #232323;
    color: #C0BAB6;
    text-decoration: none;
}