* {
    margin:0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #979797;
    background-color: #FFFFFF;
}
div.wrapper {
    background-color: #FFFFFF;
    justify-content: center;
    display: grid;
}
a {
    text-decoration: none;
}
#header #hgroup h1 {
    font-size: 36px;
}
#header #hgroup h2 {
    font-size: 13px;
}
.row1, .row1 a {
    color: #979797;
    background-color: #FFFFFF;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
#header,#container,#homepage,#footer {
    width:960px;
}
header#header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
}
#header nav ul {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto auto;
    gap: 28px;
    list-style-type: none;
    padding: 25px 0;
    text-transform: uppercase;
    margin-top: 10px;
}
#hgroup {
    padding: 20px 0 0 0;
}
#container {
    padding: 30px 0;
}
#container section {
    margin: 0 0 30px 0;
}
.row2 a {
    color: #FF9900;
}
#container #left_column {
    width: 280px;
}
#container #left_column h2.title {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DEDEDE;
}
h1, h2 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
#container #left_column nav {
    margin-bottom: 30px;
}
#container #left_column nav li {
    margin: 0 0 15px 0;
    list-style-type: none;
}
#container #left_column nav a {
    padding: 5px 10px 5px 20px;
    color: #666666;
    background: url(./images82/orange_file.gif) no-repeat 10px center #FFFFFF;
    text-decoration: none;
    border-bottom: 1px dotted #666666;
}
address {
    font-style: normal;
}
.new {
    display: grid;
    grid-template-columns: auto auto;
}
#container #content {
    width: 630px;
    display: grid;
    gap: 30px;
}
article {
    display: grid;
    grid-template-rows: 30px 40px 60px 20px;
}
#footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #DEDEDE;
}
.row3 a {
color: #979797;
}
