body {
    background-color: grey;
    text-align: center;
}

* {
    margin: 0;
}

.nav1 {
    background-color: white;
    color: black;
    overflow: auto;
    margin-bottom: 20px
}

#nav1_left {
    float: left;
}

.nav1ul li {
    float: right;
    margin-right: 30px;
    margin: 10px;
    list-style: none;
}

.nav2 {
    background-color: black;
    color: white;
    overflow: auto;
    margin-bottom: 20px;
}

.nav3 {
    padding: 5px;
    background-color: white;
    margin-bottom: 20px;
}

.nav3_top {
    background-color: white;
    color: black;
    overflow: auto;
    box-shadow: 10px 5px 5px black;
    margin: 5px 50px 5px 50px;
}

.nav3ul_top li {
    float: right;
    margin-right: 30px;
    margin: 10px;
}

.nav4 {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.nav4_top li {
    float: right;
    margin-right: 50px;
    /* border-right: 2px solid beige; */
}

.nav4_top {
    color: black;
    overflow: hidden;
    border-bottom: 2px solid black;
    /* padding: 20px; */
}

.nav4_bottom{
    overflow: hidden;
}
.nav4_bottom li{
    float: right;
    /* text-align: center; */
    list-style: none;
    margin-right: 30px; 
}

.nav5_top {
    color: black;
    overflow: hidden;
    /* border-bottom: 2px solid black; */
}
.nav5_top li {
    float: right;
    margin-right: 50px;
}
