*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background-color: #232323;
}
div.wrapper {
    display: grid;
    width: 100%;
}
.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
}
a {
    outline: none;
    text-decoration: none;
}
#header {
    padding: 20px 0;
}
#header, #container, #footer {
    width: 960px;
    margin: 0 auto;
}
#header #hgroup {
    margin: 0 0 20px 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
fieldset{
    display: flex;
    justify-content: space-between;
}
#header #hgroup h1 {
    font-size: 36px;
}
#header #hgroup h2 {
    font-size: 13px;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}
#header form {
    width: 290px;
    margin: 20px 0;
}
form, fieldset, legend {
    margin: 0;
    padding: 0;
    border: none;
}
#header form input {
    width: 200px;
    margin: 0;
    padding: 5px;
    color: #C0BAB6;
    background-color: #232323;
    border: 1px solid #666666;
}
input, textarea, select {
    font-size: 12px;
    font-family: Georgia,"Times New Roman",Times,serif;
}
#header form #sf_submit {
    width: 70px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF9900;
    border: none;
    cursor: pointer;
}
#header nav {
    width: 100%;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}
#header nav ul {
    padding: 0 20px;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}
#header nav li a {
    color: #C0BAB6;
    background-color: #232323;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;
}
#container {
    padding: 30px 0;
}
#container #slider {
    width: 100%;
    
}
#container section {
    margin-bottom: 30px;
}
#container #slider figure img {
    float: right;
    width: 630px;
    height: 300px;
}
img {
    border: none;
    line-height: normal;
    vertical-align: middle;
}
#container #slider figure figcaption {
    width: 290px;
    height: 260px;
    padding: 20px;
    overflow: hidden;
    color: #989898;
    background-color: #464646;
    line-height: 1.6em;
}
#container #slider figure h2 {
    font-size: 42px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
}
p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#container .more {
    text-align: right;
}
#slider figure figcaption a {
    color: #FF9900;
    background-color: #464646;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
a {
    outline: none;
    text-decoration: none;
}
#container #intro {
    width: 100%;
    margin-bottom: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D6D6D6;
}
#container #intro section {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
#container #intro section article figure ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}
#container #intro section article figure ul li {
    display: inline-block;
    margin: 0 25px 0 0;
}
#container #intro section article figure ul li img {
    width: 130px;
    height: 130px;;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
#container #intro section article figure ul li.last {
    margin: 0;
}
#container #intro section article figure figcaption {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.two_quarter {
    width: 470px;
}
.one_quarter, .two_quarter, .three_quarter, .four_quarter {
    margin: 0 20px 0 0;
}
#container #intro section article h2 {
    margin-bottom: 15px;
}
.lastbox {
    margin-right: 0;
}
.two_quarter {
    width: 470px;
}
#container #homepage {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    line-height: 1.6em;
}
#container .last {
    margin: 0;
}
#container #homepage section {
    margin-bottom: 0;
}
#container #homepage section h2.title {
    margin: 0 0 25px 0;
    padding: 0 0 8px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
#container #homepage section article header h2 {
    font-size: 13px;
    font-weight: bold;
}
#container #homepage section article address, #container #homepage section article time {
    font-size: 10px;
    font-style: normal;
}
#container #homepage section article footer {
    text-align: left;
}
nav ul {
    list-style: none;
}
#container #homepage section nav li {
    margin: 0 0 8px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #D6D6D6;
}
#container #homepage section nav a {
    padding: 0 0 0 10px;
    background: url(./arrow.gif) left center no-repeat;
}
#container #homepage section nav li.last {
    margin: 0;
}
.imgl {
    margin: 0 15px 15px 0;
}
#container .more {
    text-align: right;
}
.one_quarter {
    width: 225px;
}
.imgl {
    float: left;
    margin: 0 15px 15px 0;
    clear: left;
}
.imgholder, .imgl, .imgr {
    padding: 4px;
    border: 1px solid #D6D6D6;
    text-align: center;
}
.row3, .row3 a {
    color: #919191;
    background-color: #232323;
}
footer#footer {
    display: grid;
    grid-template-columns: auto auto;
    width: 960px;
    justify-content: space-between;
}

@media only screen and (max-width:768px){
    #header, #container{
        display: block;
        width: 100%;
        text-align: center;
    }
    div.wrapper {
        width: 100%;
        display: block;
    }
    #header #hgroup{
        display: block;
    }
    #header nav ul{
        display: block;
    }
    #header nav li {
        display: block;
        margin-right: 0;
        text-transform: uppercase;
    }
    fieldset {
        display: block;
        text-align: center;
    }
    #header form{
        width: 100%;
    }
    #container #slider figure img {
        display: block;
        width:100%;
        
    }
    #container #slider figure figcaption {
        width: 100%;
        height: auto;
        color: #989898;
        background-color: #464646;
        line-height: 1.6em;
        padding: 0;
    }
    #container #intro section {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
    }
    .two_quarter{
        width: 100%;
    }
    #container #intro section article figure ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;
    }
    #container #intro section article figure ul li{
        margin: 0;
        width: 33%;
    }
    #container #intro section article figure ul li img {
        width: 94%;
    }
    #container #homepage {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        line-height: 1.6em;
        justify-content: center;
    }
    .one_quarter {
        width: 100%;
    }
    footer#footer {
        width: 100%;
        padding: 20px 0;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    #footer p{
        margin: 0;
    }
}
