*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background-color: #232323;
}
div.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
}
#header {
   width: 960px;
   display: flex;
   justify-content: space-between;
   padding: 20px 0;
}
#header nav{
    /* margin: 10px 0 0 0; */
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;

}
.nav1{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
li{
    list-style: none;
    margin-right: 25px;
}
a {
    outline: none;
    text-decoration: none;
}
#header nav li{
    text-transform: uppercase;
}
#header nav li a{
    color: #C0BAB6;
    background-color: #232323;
}
/* #header #hgroup {
    margin: 0 0 20px 0;
} */
#header #hgroup h1 {
    font-size: 36px;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
}
#header #hgroup h2 {
    font-size: 13px;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}
li .last{
    margin: 0;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;
}
#container {
    padding: 30px 0;
}
#header, #container, #footer, #copyright {
    width: 960px;
}
#container section {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}
#container #homepage {
    width: 100%;
    line-height: 1.8em;
}
#services{
    display: flex;
    justify-content: space-between;
}
.one_third {
    width: 300px;
}

address, article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}
#container #homepage #services article figure img {
    margin: 0 0 15px 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}
address, article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
    margin: 0;
    padding: 0;
}
#container #homepage #services article figure h2 {
    font-size: 14px;
    font-weight: bold;
}
#container #homepage #services article figure figcaption p{
    margin: 13px 0;
}

.figure1{
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
}
#container #homepage #intro article figure img {
    margin: 0 0 10px 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
#container #homepage #intro article figure figcaption {
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#container #homepage #intro article figure figcaption p{
    /* margin: 13px 0; */
    
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
.row2 .more{
    display: flex;
    justify-content: flex-end;
}

.row3 {
    color: #989898;
    background-color: #333333;
}

.temp1{
    display: flex;
    justify-content: space-around;
    width: 960px;
    padding: 20px 0;
}
.one_quarter {
    width: 225px;
}

#footer section h2.title {
    margin: 0 0 25px 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #333333;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

#footer section nav li {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #555555;
}
.row3 a {
    color: #FF9900;
    background-color: #333333;
}
.temp2 {
    padding: 20px 0;
    width: 960px;
    display: flex;
    justify-content: space-between;
}
.row4, .row4 a {
    color: #919191;
    background-color: #232323;
}