*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background-color: #232323;
}
.wrapper{
    display: flex;
    justify-content: center;
}
#header{
    width: 960px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
}
a {
    outline: none;
    text-decoration: none;
}
#header #hgroup h1 {
    font-size: 36px;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
#header #hgroup h2 {
    font-size: 13px;
}


#header nav{
    color: #C0BAB6;
    background-color: #232323;
}
#header nav ul{
    display: flex;
    justify-content: space-around;
}
#header nav ul li {
    margin-right: 25px;
    text-transform: uppercase;
    list-style: none;
    padding: 20px 0;
}