*{
    margin: 0;
    padding: 0;
}
body {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background-color: #232323;
}
div.wrapper {
   display: grid;
    width: 100%;
}
.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
}
a {
    outline: none;
    text-decoration: none;
}
#header {
    padding: 20px 0;
}
#header, #container, #footer {
    width: 960px;
    margin: 0 auto;
}
#header #hgroup {
    margin: 0 0 20px 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
fieldset{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
#header #hgroup h1 {
    font-size: 36px;
}
#header #hgroup h2 {
    font-size: 13px;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}
#header form {
    width: 290px;
    margin: 20px 0;
}
form, fieldset, legend {
    margin: 0;
    padding: 0;
    border: none;
}
#header form input {
    display: flex;
    width: 200px;
    
    padding: 5px;
    color: #C0BAB6;
    background-color: #232323;
    border: 1px solid #666666;
}
input, textarea, select {
    font-size: 12px;
    font-family: Georgia,"Times New Roman",Times,serif;
}
#header form #sf_submit {
    width: 70px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF9900;
    border: none;
    cursor: pointer;
}
#header nav {
    width: 100%;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}
#header nav ul {
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
   
}
#header nav li {
    list-style: none;
    margin-right: 25px;
    text-transform: uppercase;
}
#header nav li a {
    color: #C0BAB6;
    background-color: #232323;
}
#container {
    padding: 30px 0;
}
#container {
    padding: 30px 0;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;
}
#container section {
    width: 100%;
    margin: 0 0 30px 0;
}
#container #shout {
    width: 930px;
    padding: 15px;
    font-size: 16px;
    line-height: 1.8em;
    color: #979797;
    background-color: #EEEEEE;
    text-transform: uppercase;
    text-align: justify;
}
#container #homepage {
    width: 100%;
    line-height: 1.6em;
}
#container #homepage h1 {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D6D6D6;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
section#services {
    display: grid;
    grid-template-columns: auto auto auto;
}
section#latest{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#container #homepage #services article {
    display: inline;
    width: 300px;
    margin: 0 30px 0 0;
}
#container #homepage #services .last {
    margin-right: 0;
}
#container #homepage #services figure {
    display: inline;
}
img {
    border: none;
    line-height: normal;
    vertical-align: middle;
}
#container #homepage #services strong {
    margin: 8px 0 0 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
#container #homepage #services p {
    padding: 5px 0 0 0;
    line-height: 1.6em;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
#container .more {
    text-align: end;
}
.one_quarter {
    width: 225px;
}
.lastbox {
    margin-right: 0;
}
#container #homepage #latest figure {
    padding: 4px;
    border: 1px solid #D6D6D6;
    text-align: center;
}
#container #homepage #latest figcaption {
    padding: 5px;
    color: #979797;
    background-color: #EEEEEE;
    text-transform: uppercase;
    text-align: center;
}
.row3, .row3 a {
    color: #919191;
    background-color: #232323;
}
#footer {
    width: 960px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 20px 0;
}