*{
    margin: 0;  
    padding: 0;
}
div.wrapper {
    width: 100%;
    display: grid;  
    justify-content: center;
}
.row1, .row1 a {
    color: #C0BAB6;
    background-color: #333333;
}
body {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background-color: #232323;
}
#header, #container, #footer {
    width: 960px;
}
header#header {
    padding: 20px 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
#header #hgroup h1 {
    font-size: 36px;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}
#header #hgroup h2 {
    font-size: 13px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
#header nav {
    margin: 10px 0 0 0;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}
#header nav ul {
    padding: 0 20px;
}
#header nav ul{
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-content: space-between;
}
#header nav li {
    margin-right: 25px;
    text-transform: uppercase;
}
#header nav li.last {
    margin-right: 0;
}
#header nav li a {
    color: #C0BAB6;
    background-color: #232323;
}
a {
    outline: none;
    text-decoration: none;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;
}
#container {
    padding: 30px 0;
}
#container section {
    width: 100%;
    margin: 0 0 30px 0;
}
section#latest {
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: space-between;
}
#container #homepage #latest figure {
    padding: 4px;
    border: 1px solid #D6D6D6;
    text-align: center;
}
#container #homepage #latest figcaption {
    padding: 5px;
    text-align: center;
    color: #979797;
    background-color: #EEEEEE;
    text-transform: uppercase;
    text-align: center;
}
#container #shout p {
    font-size: 20px;
    line-height: 1.8em;
    text-align:center;
}
#container #shout {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #DEDEDE;
    text-align: center;
}
#container #content {
    width: 630px;
    line-height: 1.6em;
}
#container #content #services ul {
    list-style: none;
}
#container #content #services ul li article figure img {
    width: 180px;
    height: 150px;
    padding: 4px;
    border: 1px solid #666666;
}
#container #content #services ul li article figure img {
    float: left;
    width: 180px;
    height: 150px;
    margin: 0;
    padding: 4px;
    border: 1px solid #666666;
}
#container #content #services ul li article figure figcaption {
    width: 410px;
}
#container #content #services ul li {
    width: 100%;
    margin-bottom: 30px;
}
#container #right_column {
    width: 280px;
}
div#wrap1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
}
#container #content #services ul li article figure {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
}
#container #content #services ul li article figure p{
    margin: 13px 0 13px 0;
}
.row2 a {
    color: #FF9900;
    background-color: #FFFFFF;
}
#container .more {
    text-align: right;
}
#container #right_column h2.title {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DEDEDE;
}
#container #right_column nav a:hover {
    color: #FF9900;
    background-color: #FFFFFF;
}
ul{
    list-style: none;
}
#container #right_column nav li {
    margin: 0 0 3px 0;
    padding: 0;
}
#container #right_column nav a {
    padding: 5px 10px 5px 20px;
    color: #666666;
    background: url("../images/orange_file.gif") no-repeat 10px center #FFFFFF;
    text-decoration: none;
    border-bottom: 1px dotted #666666;
    display: block;
}
.row3, .row3 a {
    color: #919191;
    background-color: #232323;
}
footer#footer {
    padding: 20px 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}