<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            width: 100%;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="box">
        <h2>Early life and family</h2>
        <p>Kalyan was born as Konidela Kalyan Babu on 2 September 1968 to Konidela Venkata Rao and Anjana Devi in
            Bapatla, Andhra Pradesh. He is the younger brother of Chiranjeevi and Nagendra Babu. He started
            using the name "Pawan" after a martial arts presentation he organized to demonstrate his training. He
            holds a black belt in karate. He is also the uncle of actors Ram Charan, Varun Tej, Sai Dharam
            Tej and Allu Arjun.</p>
    </div>

</body>

</html>