<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Positions-1</title>
    <style>
        .first{
            height: 100px;
            background: green;
            margin: 10px;
            width: 100%;

        }
        .second{
            height: 75px;
            background: grey;
            margin: 10px;
            width: 100%;    
            position: relative;
        }
        h2{
            position: absolute;
        }
        .third{
            height: 150px;
            background: palevioletred;
            margin: 10px;
            width: 100%;
            position: fixed;
            top: 10px;
            
        }
        .sample{
            height: 100px;
            background: red;
            margin: 10px;
            width: 100%;
            position: sticky;
            bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="box first"></div>
    <div class="box second">
        <h2>Welcome To Second Box</h2>
    </div>
    <div class="box third"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet repellat necessitatibus impedit eaque nam beatae odio quidem consectetur aspernatur aliquam? Quas tempore alias placeat vitae voluptatibus magnam ad, iusto quisquam.
    Suscipit culpa, molestias voluptate pariatur quasi tenetur eos esse, natus et autem odio quas explicabo magni eaque velit id vitae ducimus ipsum, mollitia eius alias earum obcaecati cupiditate quam. Quia.
    Itaque ullam sunt maiores quasi eligendi aliquid, quod sint omnis. Blanditiis voluptatum nihil corporis ipsum similique odio inventore facere quam quae at, ratione fugiat minima molestias. Voluptatibus exercitationem laboriosam minus.
    Et, ducimus recusandae at eius placeat asperiores mollitia vel reiciendis officia provident esse quasi aliquam obcaecati nam doloremque eveniet enim est cupiditate, magnam dolorem molestias laborum sunt ipsam fuga. Enim?
    Corporis consectetur velit, incidunt quas omnis quasi cum tempora tempore laborum deleniti? Expedita aliquam cum nobis praesentium ipsam, corporis modi et nesciunt magnam molestias ea laudantium velit sit dolorem porro?
    Nulla officia quae laudantium? Incidunt ipsam omnis, unde nobis quisquam eius in, obcaecati quaerat nulla saepe sit soluta voluptas asperiores. Reprehenderit neque laboriosam ullam architecto officiis nulla saepe quasi amet.
    Qui accusamus iste officia eaque animi totam, error sit quod quisquam. Cumque dignissimos similique labore, cum sint vero temporibus impedit alias dicta repudiandae autem corrupti et provident commodi eum ipsam.
    Eum voluptate vel provident porro velit cupiditate necessitatibus culpa consequuntur veniam. Quae non, magni dignissimos quo recusandae accusantium. Ratione amet nulla nemo voluptatum magnam voluptatibus eum sed omnis hic quisquam.
    Ad, voluptas! Rem, optio quisquam possimus inventore veniam ad atque? Ratione vitae iure ipsum. Aut dolorum consequuntur at quae, laboriosam deserunt doloremque enim modi earum sunt facilis alias, pariatur dicta?
    Explicabo, earum quisquam quam error in facilis iusto fugiat, et minima voluptatum at sequi odio ducimus beatae, magnam officiis assumenda soluta reprehenderit perspiciatis quod quibusdam dolor consequuntur corporis. Quasi, accusamus.
    Fuga dicta, aspernatur doloremque pariatur vel adipisci eligendi nulla accusantium consequuntur neque totam assumenda laborum dolore ea aliquid eum facere numquam enim repellendus ipsa magnam molestiae ad veritatis dolores? Id.
    Magni ratione recusandae eius quia quidem, iure inventore veniam! Illum accusamus totam repellendus architecto quaerat, minus facilis nemo sint dolorem aliquam recusandae magni provident vero quidem facere ipsum, soluta unde.
    Error eveniet officia repudiandae sed, dicta aspernatur, voluptatibus, id culpa laboriosam dolorem alias! Commodi recusandae dolor blanditiis voluptate nostrum incidunt soluta sequi itaque veritatis? Nostrum, doloremque omnis! Aliquam, quis pariatur.
    Praesentium, sit aut soluta commodi quasi alias delectus quis mollitia placeat harum. Debitis aspernatur sequi deleniti ipsum vitae, laboriosam maxime perferendis quas, cupiditate quaerat officiis dignissimos ipsa reprehenderit nostrum maiores.
    Explicabo magni, aspernatur dolorem sapiente quo illo itaque odit impedit voluptate quam consectetur natus corrupti eum labore minima quidem nihil nam possimus assumenda vitae, a nemo officiis? Nisi, possimus atque.
    Iusto inventore culpa, sapiente aspernatur quidem, et ipsum dignissimos consequatur impedit atque sit. Numquam voluptatum tempore soluta facilis error quisquam voluptas et dolorem eveniet possimus dicta, deleniti, deserunt rem aut.
    Modi ea optio autem sed sit. Praesentium explicabo, nisi deserunt expedita esse a nostrum dolor soluta corporis tenetur in minus cum suscipit recusandae ab provident. Tenetur harum quam fugiat beatae.
    Accusamus, illum. Asperiores illum et harum, saepe assumenda exercitationem a modi cumque vitae repellat accusamus quo debitis dolore ab quas? Cum optio assumenda odio dolorum culpa ad corporis voluptas eum?
    Nostrum, modi praesentium magnam tempora molestiae quasi illum vero a beatae odio! Repudiandae, beatae cum corrupti odit consequatur minus maiores doloribus accusantium at maxime facere est atque assumenda, in tempora.
    Consequatur dicta quam, nisi porro quisquam culpa et fugit asperiores saepe optio rem libero similique sapiente eveniet enim, sequi suscipit cumque, nulla ab modi deleniti ratione dolorum. Officiis, aperiam suscipit.
    Provident nesciunt tempore iure rem, magni doloribus exercitationem minus sed labore incidunt. Voluptatum, magnam quia maxime delectus itaque voluptate, fugit atque quod ex, quam nesciunt aliquid facere magni harum quis?
    Labore voluptatem quidem voluptate dolor et assumenda. Alias dolorum odio recusandae, dignissimos repellat doloribus. Sequi ea dolorem et praesentium quasi. Accusantium voluptatibus sunt asperiores laboriosam ex, minus eos rerum eligendi!
    Provident praesentium necessitatibus dolorum alias distinctio saepe, aspernatur voluptatibus! Repellat, quo deserunt atque culpa consequatur obcaecati accusantium, ullam enim ipsam eius quidem voluptatum perspiciatis recusandae eaque! Dolorum dignissimos atque blanditiis!
    Ex, pariatur voluptas voluptates exercitationem ratione iusto repellendus molestiae porro aliquam neque fugit aperiam eaque. Rerum porro, aspernatur mollitia odio aperiam harum in iure. Dolor veniam velit voluptates ea provident.
    Nobis, a necessitatibus vel similique eos assumenda quibusdam nam vitae nisi id? Quis, maiores consequuntur nulla provident impedit voluptas, assumenda dolore iusto autem cum blanditiis deleniti placeat, hic natus mollitia.
    Ea fugit quas corporis ipsam tenetur enim dolor, nostrum perspiciatis possimus nam ducimus dolores esse inventore ex voluptas expedita aut ad saepe fugiat, vero maxime. Dolorum tempore error atque impedit?
    Aspernatur earum alias laudantium eos, repellendus fugiat quas unde cumque tempore distinctio illo in id? Unde inventore harum, illum blanditiis iusto maiores, quasi deleniti aliquam, dolorem fuga dolore optio reprehenderit.
    Ipsum sapiente possimus odio reprehenderit eos tempora, esse nemo temporibus harum aliquam qui debitis illum? Autem ullam ratione nihil impedit, necessitatibus blanditiis id architecto provident pariatur recusandae delectus nam officia.
    Iure numquam laudantium vitae beatae incidunt alias blanditiis tempora, asperiores eum porro cupiditate error possimus autem inventore optio laborum quasi modi doloremque fuga, ex ullam. Beatae libero sapiente nobis obcaecati.
    Debitis explicabo voluptatibus blanditiis, in quod sint! Quisquam quia numquam et natus? Veniam quos soluta voluptatum dolore, quo rem fugiat hic velit magnam placeat obcaecati architecto nostrum culpa, nesciunt accusamus.</p>
    <div class="sample">
        <h2>Hello From Sample</h2>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero commodi pariatur error non, incidunt iusto eligendi. Magnam qui sit, dolorum dolorem iure asperiores perferendis nesciunt aliquam ut eligendi? Voluptatum, delectus!
    Voluptatum tenetur, minus natus voluptate veniam accusantium modi culpa placeat quaerat quia? Fuga sit facilis iste nam eveniet debitis. At dignissimos eligendi neque delectus aliquam recusandae tempore ex nostrum laudantium.
    Vitae unde consequatur possimus quo quidem expedita dolore, minus soluta ut sint quas blanditiis ratione. Corrupti ullam deleniti recusandae, beatae iure possimus, blanditiis accusamus expedita optio, cumque temporibus ab in?
    Iusto eaque illo voluptatem illum distinctio. Sunt quos mollitia iste itaque rerum unde hic architecto obcaecati alias magni illo aut eaque earum, suscipit voluptas quae rem laboriosam aliquid, commodi eveniet.
    Laudantium, et dicta? Tempore eum, temporibus quaerat voluptatibus hic asperiores inventore repudiandae praesentium. Illum, nobis. Aspernatur unde facere consequuntur consectetur nesciunt corporis ullam sit! Error voluptas explicabo delectus officia tenetur.
    Provident quisquam optio voluptate, nulla commodi est architecto eaque. Dolorum architecto reprehenderit impedit corrupti! Cumque quia officiis ab nisi neque, ut, eius laboriosam dicta quasi, magnam inventore ex aliquid amet!
    Beatae perspiciatis nostrum suscipit exercitationem placeat animi quod doloremque. Incidunt ducimus unde rem enim excepturi quidem quisquam vel facere nesciunt, asperiores necessitatibus ipsum in odit! Inventore vitae iste aspernatur molestias.
    Optio ullam non eos accusantium suscipit fugiat, dicta quidem repellendus quam, perspiciatis unde excepturi sapiente tenetur cumque incidunt laborum officia nisi, corporis repellat ducimus deserunt! Voluptatibus mollitia maiores fuga nemo.
    Molestias, maxime culpa cupiditate necessitatibus sequi voluptates fuga quis illo repellat laboriosam? Illo quidem distinctio rem sunt fugiat ipsum modi laudantium cum voluptate porro? Recusandae hic alias eos pariatur distinctio.
    Voluptates reprehenderit optio expedita accusantium. Deserunt reprehenderit doloribus quidem vel dolore dolor debitis culpa id dicta voluptas labore iusto tempora delectus, accusamus sint ipsa odio itaque officia sapiente praesentium? Eum!
    Reiciendis accusantium doloribus neque nihil, eaque porro impedit laudantium ad voluptatem odit rem provident facilis aperiam eos esse modi quisquam, ipsa necessitatibus laboriosam? Praesentium ut deleniti consequatur officia sit ad?
    Molestiae eveniet, fuga eaque eum sunt quod dignissimos corporis dolor deserunt veritatis totam. Officiis libero amet tempore voluptas, labore quasi facilis mollitia eum nostrum et, natus aperiam tenetur temporibus iusto?
    Facilis repellendus accusantium nulla culpa nisi numquam animi, ea maiores dignissimos odit veniam commodi magnam aliquam expedita voluptate ratione corrupti. Ullam eligendi quisquam sunt iure exercitationem consectetur voluptates eos vero?
    Eaque laboriosam laudantium iusto doloribus odit harum tenetur perferendis ipsum eius recusandae, molestiae delectus deleniti enim sunt ab, commodi architecto. Perferendis omnis ipsam doloribus corporis odio possimus placeat exercitationem soluta.
    Fugit vel repudiandae accusantium maxime hic voluptatum perspiciatis alias, eligendi, ea aspernatur odio aut expedita doloribus quaerat, non tempore laudantium odit. Mollitia, voluptates. Doloribus laborum facere expedita suscipit veniam autem?
    Ducimus totam doloremque reprehenderit corporis nostrum accusantium voluptatum id temporibus quos officiis necessitatibus, dolorem modi ipsam beatae molestiae aliquid autem, voluptatem commodi, perspiciatis perferendis sed sequi et itaque! Beatae, ab!
    Necessitatibus suscipit praesentium doloremque veniam quasi sed distinctio ea nisi! Provident similique ut voluptatum, quas dolore amet suscipit corporis hic fugiat? Iusto natus aperiam officia distinctio expedita inventore, minima vero.
    Minus, ipsam aspernatur ratione veritatis asperiores deserunt rerum temporibus amet quia aliquid nisi eligendi officia quas non, voluptatibus doloribus laboriosam voluptas at. Eos iusto alias consequuntur totam! Labore, cumque maiores.
    Praesentium quae alias quod debitis facere error atque optio, sint a quos, assumenda totam explicabo corrupti nobis. Repudiandae, eius pariatur suscipit minus sit, quibusdam ea voluptatem deleniti nostrum velit distinctio?
    Excepturi odit dignissimos pariatur sunt officiis sed voluptatum repellat culpa, consequuntur porro quos! Mollitia sapiente debitis nisi optio odit tempore maxime architecto minus sunt aut consectetur sint animi, illum ad.
    Quo, perferendis asperiores illum ipsam perspiciatis voluptatibus incidunt, fugit deserunt odit quae, quis ea nam. Unde atque dolore itaque perspiciatis expedita, aspernatur nam praesentium in dolores quaerat, quidem cumque! Sunt.
    Ullam aut et, ratione quia veritatis autem atque sed reprehenderit incidunt, reiciendis cum qui assumenda dolores sapiente soluta natus magni corporis deserunt omnis consectetur modi blanditiis obcaecati explicabo nam? Fuga.
    Quaerat laborum sequi ipsum quas, facilis provident! Accusantium provident ea quae tempore, fuga cupiditate? Nostrum iure, consectetur voluptatibus ullam odio suscipit ipsam! Animi ut eos nam velit veritatis enim suscipit.
    Sunt, a assumenda dolores eveniet dolorem aperiam numquam ipsam illo iure maiores nam magnam laudantium et sapiente autem repudiandae ut rem hic exercitationem. Est, perspiciatis omnis blanditiis ea sapiente sunt!
    Aperiam laudantium id aspernatur sequi, facilis fugiat. Earum perspiciatis repellat nemo sequi atque officiis, repudiandae facere soluta dignissimos assumenda iure sapiente, beatae fugiat saepe voluptates eius voluptatem cumque, ipsum quidem?
    Iusto veritatis molestiae, necessitatibus asperiores praesentium, suscipit quam fugiat tempore vitae dolor at corporis. Eligendi recusandae ullam sapiente natus hic, perspiciatis facere quae eius vero, dolore harum necessitatibus blanditiis quidem?
    Optio laudantium provident reiciendis. Minus error esse modi at expedita dolorum, impedit facere dolorem. Assumenda harum saepe ipsa nostrum cum molestiae repudiandae esse suscipit quos quis? Aliquam sequi reprehenderit excepturi.
    Cupiditate, mollitia incidunt. Facilis quis laudantium fugiat aut unde itaque inventore doloremque, sapiente dolore dolor hic illum fugit ad aspernatur. Ab voluptas laboriosam, harum provident numquam quos totam itaque nobis!
    Commodi delectus minima fuga rerum veniam voluptas, itaque deserunt perferendis excepturi vero laboriosam voluptatem quam praesentium saepe placeat dolor enim, ea cupiditate! Doloremque nemo, animi assumenda deleniti pariatur numquam consectetur!
    Ipsum facilis officia tempora doloribus deserunt, dolorem eius enim temporibus adipisci quo ratione cum quibusdam nesciunt eaque architecto itaque voluptates distinctio expedita, fuga nobis est aliquam quidem eligendi necessitatibus. Id?</p>
</body>