<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document-88</title>
    <link rel="stylesheet" href="./project1.css">
</head>
<body>
    <!-- header section-->
    <div class="wrapper row1">
        <!-- HTML 4 way of declaring element-->
        
        <!-- HTML 5 way of declaring elements -->
        <header> 
            <div id="hgroup">
                <h1>
                    <a href="">Basic 88</a> 
                </h1>
                <h2>Free HTML5 Website Template</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="./positions-1.html">CSS Positions</a></li>
                    <li><a href="#">TEXT LINK</a></li>
                    <li><a href="#">TEXT LINK</a></li>
                    <li><a href="#">TEXT LINK</a></li>
                    <li class="last"><a href="#">TEXT LINK</a></li>
                </ul>
            </nav>
        </header>
       
    </div>
    <div class="wrapper row2">
        <div id="container" class="clear">
            <!-- slider-->
            <section id="slider">
                <a href="">
                    <img src="./images/demo/960x360.gif" alt="">
                </a>
            </section>
            <div id="homepage">
                <section id="services" class="clear">
                    <article class="one-third">
                        <figure>
                            <img src="./images/demo/290x180.gif" alt="" srcset="">
                            <figcaption>
                                <h2><h2>Indonectetus facilis</h2></h2>
                                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
                                <footer class="more">
                                    <a href="#">Read more</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="one-third">
                        <figure>
                            <img src="./images/demo/290x180.gif" alt="" srcset="">
                            <figcaption>
                                <h2><h2>Indonectetus facilis</h2></h2>
                                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
                                <footer class="more">
                                    <a href="#">Read more</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="one-third lastbox">
                        <figure>
                            <img src="./images/demo/290x180.gif" alt="" srcset="">
                            <figcaption>
                                <h2><h2>Indonectetus facilis</h2></h2>
                                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
                                <footer class="more">
                                    <a href="#">Read more</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                </section>
                <section id="intro" class="last-clear">
                    <article>
                        <figure>
                            <img src="./images/demo/450x250.gif" alt="">
                            <figcaption>
                                <h2>Indonectetus facilis leo nibh</h2>
                                <p>This is a W3C compliant free website template from <a href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a>. For full terms of use of this template please read our <a href="https://www.os-templates.com/template-terms">website template licence</a>.</p>
                                <p>You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more HTML5 templates visit <a href="https://www.os-templates.com/">free website templates</a>.</p>
                                <footer class="more">
                                    <a href="#">Read More</a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                </section>
            </div>
        </div>
    </div>
    <div class="wrapper row3">
        <div id="footer" class="clear">
            <section class="one_quarter">
                <h2 class="title">LINK BLOCK</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#">Lorem ipsum dolor sit</a>
                        </li>
                        <li><a href="#">Amet consectetur</a></li>
                        <li><a href="#">Praesent vel sem id</a></li>
                        <li><a href="#">Curabitur hendrerit est</a></li>
                        <li><a href="#">Sed a nulla urna</a></li>
                    </ul>
                </nav>
            </section>
            <section class="one_quarter">
                <section class="one_quarter">
                    <h2 class="title">LINK BLOCK</h2>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">Lorem ipsum dolor sit</a>
                            </li>
                            <li><a href="#">Amet consectetur</a></li>
                            <li><a href="#">Praesent vel sem id</a></li>
                            <li><a href="#">Curabitur hendrerit est</a></li>
                            <li><a href="#">Sed a nulla urna</a></li>
                        </ul>
                    </nav>
                </section>
            </section>
            <section class="one_quarter">
                <section class="one_quarter">
                    <h2 class="title">LINK BLOCK</h2>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">Lorem ipsum dolor sit</a>
                            </li>
                            <li><a href="#">Amet consectetur</a></li>
                            <li><a href="#">Praesent vel sem id</a></li>
                            <li><a href="#">Curabitur hendrerit est</a></li>
                            <li><a href="#">Sed a nulla urna</a></li>
                        </ul>
                    </nav>
                </section>
            </section>
            <section class="one_quarter lastbox">
                <section class="one_quarter">
                    <h2 class="title">LINK BLOCK</h2>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">Lorem ipsum dolor sit</a>
                            </li>
                            <li><a href="#">Amet consectetur</a></li>
                            <li><a href="#">Praesent vel sem id</a></li>
                            <li><a href="#">Curabitur hendrerit est</a></li>
                            <li><a href="#">Sed a nulla urna</a></li>
                        </ul>
                    </nav>
                </section>
            </section>
        </div>
    </div>
    <div class="wrapper row4">
        <footer id="copyright" class="clear">
            <p class="fl_left">Copyright © 2018 - All Rights Reserved - 
                <a href="#">Domain Name</a>
            </p>
            <p class="fl_right">Template by 
                <a target="blank" href="https://www.os-templates.com" title="Free Website Templates">OS Templates</a>
            </p>
        </footer>
    </div>
</body>