body {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(145, 145, 145);
    background-color: rgb(35, 35, 35);
}
div.wrapper {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.row1, .row1 a {
    color: rgb(192, 186, 182);
    background-color: rgb(51, 51, 51);
}
div {
    display: block;
}
#header {
    padding: 20px 0px;
}
#header, #container, #footer {
    display: block;
    width: 960px;
    margin: 0px auto;
}
.clear {
    display: block;
    clear: both;
}
#header #hgroup {
    float: left;
    margin: 0px 0px 20px;
}
#header #hgroup h1 {
    font-size: 36px;
}
#header #hgroup h1, #header #hgroup h2 {
    font-weight: normal;
    text-transform: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}
#header #hgroup h2 {
    font-size: 13px;
}
#header form {
    display: block;
    width: 290px;
    float: right;
    margin: 20px 0px;
    padding: 0px;
}
form, fieldset, legend {
    margin: 0px;
    padding: 0px;
    border: none;
}
legend {
    display: none;
}
#header form input {
    display: block;
    float: left;
    width: 200px;
    margin: 0px;
    padding: 5px;
    color: rgb(192, 186, 182);
    background-color: rgb(35, 35, 35);
    border: 1px solid rgb(102, 102, 102);
}
input, textarea, select {
    font-size: 12px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
#header form #sf_submit {
    display: block;
    float: right;
    width: 70px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 153, 0);
    border: none;
    cursor: pointer;
}


fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}
#header nav {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 20px 0px;
    color: rgb(192, 186, 182);
    background-color: rgb(35, 35, 35);
    clear: both;
}
#header nav ul {
    padding: 0px 20px;
}
nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}
#header nav li a {
    color: rgb(192, 186, 182);
    background-color: rgb(35, 35, 35);
}
a {
    outline: none;
    text-decoration: none;
}
address, article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
    margin: 0px;
    padding: 0px;
}
.row2 {
    color: rgb(151, 151, 151);
    background-color: rgb(255, 255, 255);
}
#container {
    padding: 30px 0px;
}
#container section {
    display: block;
    width: 100%;
    margin: 0px 0px 30px;
    padding: 0px;
}
#container #shout {
    display: block;
    width: 930px;
    padding: 15px;
    font-size: 16px;
    line-height: 1.8em;
    color: rgb(151, 151, 151);
    background-color: rgb(238, 238, 238);
    text-transform: uppercase;
    text-align: justify;
}
#container #shout p {
    margin: 0px;
    padding: 0px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#container #homepage {
    display: block;
    width: 100%;
    line-height: 1.6em;
}
#container #homepage h1 {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(214, 214, 214);
}
#container #homepage #services article {
    display: inline;
    float: left;
    width: 300px;
    margin: 0px 30px 0px 0px;
    padding: 0px;
}

#container #homepage #services figure {
    display: inline;
    float: left;
}
img {
    margin: 0px;
    padding: 0px;
    border: none;
    line-height: normal;
    vertical-align: middle;
}

#container #homepage #services strong {
    float: left;
    margin: 8px 0px 0px 10px;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
#container #homepage #services p {
    display: block;
    margin: 0px;
    padding: 5px 0px 0px;
    clear: both;
    line-height: 1.6em;
}
.row2 a {
    color: rgb(255, 153, 0);
    background-color: rgb(255, 255, 255);
}
#container .more {
    text-align: right;
}
#container #homepage #services .last {
    margin-right: 0px;
}
#container .last {
    margin: 0px;
}
.clear::after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
    line-height: 0;
}
#container #homepage #services figure img{
    width: 11%;
}
#container #homepage #latest figure {
    padding: 4px;
    border: 1px solid rgb(214, 214, 214);
    text-align: center;
}
.clear {
    display: block;
    clear: both;
}
#container #homepage #latest figcaption {
    padding: 5px;
    color: rgb(151, 151, 151);
    background-color: rgb(238, 238, 238);
    text-transform: uppercase;
    text-align: center;
}
.one_quarter {
    width: 225px;
}
.one_quarter, .two_quarter, .three_quarter, .four_quarter {
    display: block;
    float: left;
    margin: 0px 20px 0px 0px;
    text-align: justify;
}
.lastbox {
    margin-right: 0px;
}
#container section {
    display: block;
    width: 100%;
    margin: 0px 0px 30px;
    padding: 0px;
}
#footer {
    padding: 20px 0px;
}
#footer p {
    margin: 0px;
    padding: 0px;
}
.fl_left {
    float: left;
}
.fl_right {
    float: right;
}