* {
    margin : 0;
    padding : 0;
}
body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
}
div.wrapper{
    width : 100%;
    margin : 0;
    padding : 0;
}
.row1 {
    color :#C0BAB6;
    background-color: #333333;
}
header {
    margin : 0 auto;
    width : 960px;
    padding : 20px 0;
    overflow: auto;
}
#hgroup {
    margin : 0 0 20px 0;
    float : left;
}
#hgroup h1 {
    font-size : 32px;
    font-weight: normal;
    font-style: normal;
}
#hgroup h2 {
    font-size : 13px;
    font-weight: bold;
    font-style: normal;
}
header a {
    text-decoration: none;
    color : #C0BAB6;
    
}
header nav a {
    text-transform: uppercase;
    font-size: 13px;
}
header nav {
    float : right;
    margin : 10px 0 0 0;
    padding : 20px 0;
    background-color: #232323;
}
header nav ul {
    padding : 0 20px;
}
header ul li {
    display : inline;
    margin-right : 25px;
}
#container {
    width : 960px;
    margin : 0 auto;
    background-color: white;
    padding : 30px 0;
    color : #979797;
    
    
}
#container #one {
    padding : 0 0 20px 0;
    border-bottom: 1px solid #DEDEDE;
    margin: 0 0 30px 0;
}

#container #one p {
    font-size: 20px;
    line-height: 1.6em;
    text-align: center;
}
#container #two {
    width : 100%;
    margin : 0 0 30px 0;
    padding : 0;
    
}
.lastbox {
    margin-right : 0 !important ;
}

#container #two .one_fourth {
    width : 225px;
    float : left;
    margin : 0 20px 20px 0;
}
#container #two .one_fourth img {
    padding : 4px;
    border : 1px solid #D6D6D6;
}
#two figcaption {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    width : 100%;
    padding : 0 0 20px 0;
    border-bottom : 1px soild #DEDEDE;
    clear : both;
}
#two figcaption a {
    text-decoration: none;
    color : orange;
    font-size: 13px;
    
}
#container #third {
    
    color :#979797;
    margin : 0 auto;
}
#container #third .one_third {
    width : 225px;
    float : left;
    margin : 0 20px 0 0;
}
.one_third figure {
    float : left;
}
.one_third h2 {
    font-size : 14px;
    font-weight: bold;
    text-transform: uppercase;
    float : left;
    margin : 8px 0 0 10px;
}
.one_third p {
    padding : 5px 0 0 0;
    clear : both;
    line-height: 1.6em; 
}
.more {
    text-align: right;
}
.more a  {
    text-decoration: none;
    color : orange;
}    
div #spacer {
    width : 100%;
    height : 70px;
    
    clear : both;
}
.row3{
    background-color: #333333;
}
.row3 #foo {
    margin : 0 auto;
    padding : 30px 0;
    width : 960px;
    
    color : #C0BAB6;
    
} 
#foo p a {
    text-decoration: none;
    color : orange;
}
.lfloat {
    
    float : left;
    
} 
.rfloat {
    
    float : right;
}    

